{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
    {% block templating_content %}

    {% set item_name = 'block--staydirect-template-3-payment-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'block__staydirect_template_3_payment_full')}}

    <div class="step--process">
        <div class="wrapper--resp">
        <div class="container-step--process">
            <div class="step-1 step">
            <div class="round--step active"></div>
            <p>Booking</p>
            <div class="trait"></div>
            <div class="trait2 active "></div>
            </div>
            <div class="step-2 step">
            <div class="round--step"></div>
            <p>Process</p>
            
            </div>
            <div class="step-3 step">
            <div class="round--step"></div>
            <p>Payment</p>
            </div>
        </div>
        </div>
    </div>
    
    <div class="specification payement">
        <div class="container">
            <div class="row">
            <div class="settings" style="display: none;">
                <div class="content-settings">
                <div class="setting-color version-bleu active">
                    <svg width="16" height="16" fill="#3498DB" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
                </div>
                <div class="setting-color version-vert">
                    <svg width="16" height="16"  fill="#1ECC71" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
                </div>
                <div class="setting-color version-gris">
                    <svg width="16" height="16" fill="#333" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
                </div>
            </div>
            </div>

            <div class="col-md-7 col-lg-7 spec-left" bis_skin_checked="1">
                <div class="header-cnt">
                <h1>
                    Where can get some
                </h1>
            
                </div>

                <div class="content-spec-left">
            
                <div class="container--item-booking">
                    <div class="row">
                    <div class="col-6 col-6-title">
                        <ul class="list-unstyled ps-0">
                        <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/introduction/">
                            Date
                            </a>
                        </li>
                        <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/webpack/">
                            Guest
                            </a>
                        </li>
                        <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/parcel/">
                            Room
                            </a>
                        </li>
                        <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/vite/">
                            <strong>Sub total</strong>
                            </a>
                        </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled ps-0">
                            <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/introduction/">
                                Sept 12, 2023 - Sept 30, 2023
                            </a>
                            </li>
                            <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/webpack/">
                                1,544,000
                            </a>
                            </li>
                            <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/parcel/">
                                412
                            </a>
                            </li>
                            <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/vite/">
                                <strong style="color: #000;"><span>Ar </span>1,544,412</strong>
                            </a>
                            </li>
                        </ul>
                    </div>
                
                    </div>
                </div>
            
                </div>
            
        
            </div>

            <div class="col-md-5 col-lg-5 order-md-last" bis_skin_checked="1">
                
                <div class="spec-right">
                <div class="spec-top">

                </div>
                <div style="padding-left: 23px; padding-right: 23px; padding-bottom: 49px">
                    
                    <ul class="list-group">
                    <li class="list-group list-group-head">
                        <div bis_skin_checked="1">
                        <h3 class="my-0" style="text-align: center;">Payement</h3>
                        </div>
                    </li>
                </ul>

            

                    <form class="form-payment">
                    <li class="list-group-item d-flex justify-content-between">
                        <small>Card number</small>
                    </li>

                    <hr style="margin-top: 10px;">
                    <div class="input-group">
                        <input class="form-control" placeholder="Card number" style="padding-left: 45px; width: 60%;">
                        <input class="form-control" placeholder="MM / YY CVC" style="padding-left: 45px; width: 40%;">
                    </div>
                
                    </form>

                    <hr style="margin-top: 15px;">

                    <ul class="list-group list-group-foot">
                    <li class="list-group-item d-flex justify-content-between" style="margin-top: 0;">
                        <strong>1,544,412</strong>
                        <span style="color: #333;">Ar</span>
                    </li>
                    </ul>
                
                </div>
                </div>

                <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
            
            </div>

            </div>
        </div>
    </div>
{% endblock %}