{#
/**
 * @file
 * Claro theme implementation to display a Drupal installation page.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_install_page()
 */
#}
<style>

</style>
    <div class="header-step">
      <div class="container container-and">
        <div class="row row-and">
          <div class="col-6 themed-grid-col">
            <div class="top-left">
              <a href="#">
                <img src="/themes/custom/staydirect/logo.png" alt="" class="pt-md-4  mt-4 mt-md-5 img-fluid">
              </a>
            </div>
          </div>
          <div class="col-6 themed-grid-col text-right">
            <div class="top-right">
              <div class="step">
                <a href="#">Web Site</a>
              </div>
              <div class="ttl-step">Building</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="main-step main-step-specification">
      <div class="container container-and">
        <div class="row ">

          <div class="sidebar col-md-3 order-sm-first">
            {{ page.sidebar_first }}
          </div>

          <div class="col-md-9 p-5">

            <div class="row mb-3">
                  {% if title %}
                       <h2 class="mb-3 title-form">{{ title }}</h2>
                   {% endif %}
            </div>
            <div class="row form-payment">
              <div class="col-md-12 col-lg-12 choosecontent">
                
                    {{ page.content }}
              </div>
            </div>

            

          </div>

        </div>
      </div>
    </main>