    <!-- Page wrapper -->
    <div class="cqd6z c3esx cg0ln cf7ka">

        <!-- Site header -->
        <header class="cz2pr cb3e5 cpuap cf3sj header-and">
            <div class="c8i2c csk5c c6axz crch5">
                <div class="crmot c7baw cuzj2 cf7ka cmz8h">

                    <!-- Site branding -->
                    <div class="cvzb4 c3qvm">
                        <!-- Logo -->
                        <a class="block csbo8 czmuy csogj cqrft" href="#" aria-label="#">
                            <img src="/themes/custom/staydirect/img/Logo.jpg" alt="Staydirect" class="logo">
                        </a>
                    </div>

                    <!-- Desktop navigation -->
                    <nav class="cwllr cvcmx cppm7">
                        <ul class="c7baw cyrls cdmjo cf7ka ce4hu">
                            <li>
                                <button class="navbar-toggler ms-auto icon-md btn btn-light p-0 collapsed btn mt-btn-nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="font-kanit-7">Menu</span>
                                    <span class="navbar-toggler-animation fright block">
                                        <span class="icon-menu"></span>
                                        <span class="icon-menu"></span>
                                        <span class="icon-menu"></span>
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </nav>
                    
                    <!-- Mobile menu -->
                    <div class="cejlt cf7ka" x-data="{ expanded: false }">

                        <!-- Hamburger button -->
                        <button class="clbpj" :class="{ &#39;active&#39;: expanded }" @click.stop="expanded = !expanded" aria-controls="mobile-nav" :aria-expanded="expanded" aria-expanded="false">
                            <span class="czvty">Menu</span>
                            <svg class="cko23 cyzmd cwi8h c251y cbk0d" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <rect y="4" width="24" height="2"></rect>
                                <rect y="11" width="24" height="2"></rect>
                                <rect y="18" width="24" height="2"></rect>
                            </svg>
                        </button>

                        <!-- Mobile navigation -->
                        <nav id="mobile-nav" class="cacv1 c16oi cz2pr cmqsr cvbrt cb83m c3w6d cb3e5 cm00g c9tr1" @click.away="expanded = false" @keydown.escape.window="expanded = false" x-show="expanded" x-transition:enter="cqrft csa0z c48t2 c0owj" x-transition:enter-start="ctnp1 ctsk5" x-transition:enter-end="cyb2a cxrsv" x-transition:leave="cqrft csa0z c48t2" x-transition:leave-start="cyb2a" x-transition:leave-end="ctnp1" style="display: none;">
                            <ul class="crch5 cgou5">
                                <li>
                                    <a class="cnh95 c3m9y ce1k1 cf7ka cgou5" href="#pricing.html">Pricing</a>
                                </li>
                                <li>
                                    <a class="cnh95 c3m9y ce1k1 cf7ka cgou5" href="#about.html">About</a>
                                </li>
                                <li>
                                    <a class="cnh95 c3m9y ce1k1 cf7ka cgou5" href="#blog.html">Blog</a>
                                </li>
                                <li>
                                    <a class="cnh95 c3m9y ce1k1 cf7ka cgou5" href="#wall-of-love.html">Wall of Love</a>
                                </li>
                                <li class="cbdbo cvcdo cvdpr cgou5">
                                    <span class="cnh95 c3m9y ce1k1 cf7ka cgou5">Resources</span>
                                    <ul class="cbfrx">
                                        <li>
                                            <a class="cnh95 cmwy4 ce1k1 csthe cf7ka cgou5" href="#404.html">404</a>
                                        </li>
                                        <li>
                                            <a class="cnh95 cmwy4 ce1k1 csthe cf7ka cgou5" href="#support.html">Support</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="cnh95 c3m9y ce1k1 cb3e5 cf7ka cgou5" href="#signin.html">Sign in</a>
                                </li>
                                <li>
                                    <a class="csbo8 ce1k1 ckqnn cf7ka cgou5" href="#request-demo.html">Request Demo <span class="cxj7s c6fw3 cn4dr csbo8 czmuy csogj ccdep">-&gt;</span></a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </header>

        <!-- Page content -->
        <main class="ce4hu">
            
            <!-- Hero -->
            <section class="cfo6z hero video">

                <div class="c8i2c cfo6z csk5c c6axz c0q32">
                    <div class="c6bfs cw0l3 cfydy">

                        <!-- Hero content -->
                        <div class="crfle cdyuj cgrqp ce1qk cwllr c6axz btw-and">

                            <!-- Content -->
                            <div class="c8kpm cs4ol culxg aos-init aos-animate ban-right" data-aos="fade-right">
                                <h1 class="cjkol cn7oz c67zf clwnt">
                                    Discover Our Unique <br>
                                    Vacation Rentals
                                </h1>
                                <hr class="sm rsp-sm" style="margin-top: 20px !important;">
                                <p class="cmdwy ctw2n p-and-header">
                                    Welcome to our website specialized in vacation rentals. We offer an exceptional selection of dream rentals for unforgettable stays. Browse through our website templates designed to help you convert visitors into bookings.
                                </p>
                                <div class="cw8l0 ce5u3 cr9ng cgjat czmoa crem2 cxqbl cd5x0 c6axz" style="margin-top: 5px !important">
                                    <div class="resp-btn-hd-lft">
                                        <a class="and-btn" href="#">Bouton CTA</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Hero image -->
                            <div x-data="{ modalExpanded: false }" data-aos="fade-left" class="aos-init aos-animate blc-header-right"> 
                                <!-- Image -->
                                <div class="ci5ny c7baw cf7ka">
                                    <div class="cfo6z header-right parent-center-hr mt-93">
                                        <img src="/themes/custom/staydirect/img/wepik-export.png" alt="" class="child-center-hr">
                                    </div>
                                </div>

                                <!-- Modal backdrop -->
                                <div class="c8gpz cg3k5 cyaqf c2f0a ck9us copry" x-show="modalExpanded" x-transition:enter="cqrft csa0z c48t2" x-transition:enter-start="ctnp1" x-transition:enter-end="cyb2a" x-transition:leave="cqrft csa0z cx4vm" x-transition:leave-start="cyb2a" x-transition:leave-end="ctnp1" aria-hidden="true" style="display: none;"></div>

                                <!-- Modal dialog -->
                                <div id="modal" class="cqd6z ci5ny c7baw csk5c c2f0a ck9us copry cf7ka c0q32" role="dialog" aria-modal="true" aria-labelledby="modal-headline" x-show="modalExpanded" x-transition:enter="cqrft csa0z c48t2" x-transition:enter-start="ctnp1 ck6uz" x-transition:enter-end="cyb2a clhx7" x-transition:leave="cqrft csa0z c48t2" x-transition:leave-start="cyb2a clhx7" x-transition:leave-end="ctnp1 ck6uz" style="display: none;">
                                    <div class="cxwsk cr5dm c8i2c cb83m cb3e5" @click.away="modalExpanded = false" @keydown.escape.window="modalExpanded = false">
                                        <video x-init="$watch(&#39;modalExpanded&#39;, value =&gt; value ? $el.play() : $el.pause())" class="cz51r cb3e5" width="1920" height="1080" loop="" controls="" __idm_id__="8830977">
                                            <source src="/themes/custom/staydirect/videos/video.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                </div>
                        
                            </div>

                        </div>
                        
                    </div>
                </div>
            </section>

            <!-- Features blocks -->
            <section>
                <div class="c8i2c csk5c c6axz c0q32">
                    <div class="" style="margin-top: 12px;">

                        <div class="culxg c1b04 c6axz cj21u">
                            <h4 class="sb-ttl">
                                How it works ?
                            </h4>
                            <h2 class="cjkol c3m9y c67zf c6gna">
                                Just following these working steps
                            </h2>
                        </div>

                        <!-- Items -->
                        <div class="c3xkw cr6o2 c1f48 c6jpj cokb5 c77es cfo6z c218u c6axz cg316 cvwwj" data-aos-id-blocks="">

                            <!-- Lines decoration -->
                            <div class="c9bis coprh cz2pr cwllr c2f0a cppm7 cnoxq" aria-hidden="true">
                                <div class="csrr4 cdiyp c7r3r c25h4 c8fdp c9t64 cb3e5">a</div>
                                <div class="csrr4 cdiyp c7r3r c25h4 c8fdp c9t64 cb3e5" style="position: relative;">
                                    <div class="flsh">
                                        <img src="/themes/custom/staydirect/img/line1.png" alt="" style="width: 100%;">
                                    </div>
                                </div>
                                <div class="csrr4 cdiyp c7r3r c25h4 c8fdp c9t64 cb3e5" style="position: relative;">
                                    <div class="flsh-end">
                                        <img src="/themes/custom/staydirect//img/line2.png" alt="" style="width: 100%;">
                                    </div>
                                </div>
                                <div class="csrr4 cdiyp c7r3r c25h4 c8fdp c9t64 cb3e5"></div>
                            </div>

                            <!-- 1st item -->
                            <div class="cfo6z aos-init aos-animate" data-aos="fade-up" data-aos-anchor="[data-aos-id-blocks]" style="position: relative;">
                                <img class="c67zf cmz8h c01lu"  src="/themes/custom/staydirect/img/icon-step-light.jpg"/>
                                <h3 class="cjkol cs789 cwnfe">Information</h3>
                                <p class="cq15i cqevk sml">Lorem ipsum dolor sit amet consectetur. Vitae leo</p>
                                <div style="position: relative;"></div>
                            </div>

                            <!-- 2nd item -->
                            <div class="cfo6z aos-init aos-animate" data-aos="fade-up" data-aos-anchor="[data-aos-id-blocks]" data-aos-delay="100">
                                <img class="c67zf cmz8h c01lu" src="/themes/custom/staydirect/img/icon-step-dark.jpg"/>
                                <h3 class="cjkol cs789 cwnfe">Payement</h3>
                                <p class="cq15i cqevk sml">Lorem ipsum dolor sit amet consectetur. Vitae leo</p>
                            </div>

                            <!-- 3rd item -->
                            <div class="cfo6z aos-init aos-animate" data-aos="fade-up" data-aos-anchor="[data-aos-id-blocks]" data-aos-delay="200">
                                <img class="c67zf cmz8h c01lu" src="/themes/custom/staydirect/img/icon-step-light.jpg">
                                <h3 class="cjkol cs789 cwnfe">Confirmation</h3>
                                <p class="cq15i cqevk">Lorem ipsum dolor sit amet consectetur. Vitae leo</p>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

            <!-- Features 02 -->
            <section style="margin-top: 195px;" class="about">
                <div class="c8i2c csk5c c6axz c0q32">
                    <div class="cbdbo">

                        <!-- Section content -->
                        <div class="xl:space-x-18 ces2b cpjvl crfle copdj cdyuj cw2zc c0qm6 c69oy ce1qk cg0ln c6axz cf7ka" x-data="{ tab: &#39;1&#39; }">

                            <!-- Tabs items (images) -->
                            <div class="cevyg cupyh cya8o c309j cqlx0 aos-init aos-animate abt-right" data-aos="fade-down">
                                <div class="cfo6z cg0ln cf7ka">
                                    <!-- Item 1 -->
                                    <div class="cb3e5" x-show="tab === &#39;1&#39;" x-transition:enter="cqrft csogj ce533 c0owj c1o59" x-transition:enter-start="ctnp1 ci0ib" x-transition:enter-end="cyb2a cxrsv" x-transition:leave="cqrft csogj c0xnz c0owj cz2pr" x-transition:leave-start="cyb2a cxrsv" x-transition:leave-end="ctnp1 c13xf">
                                        <img class="crfle c6axz cet3v" src="/themes/custom/staydirect//img/wepik-export-about.png" width="540" height="620" alt="Features home 2 01">
                                    </div>
                                    <!-- Item 2 -->
                                    <div class="cb3e5" x-show="tab === &#39;2&#39;" x-transition:enter="cqrft csogj ce533 c0owj c1o59" x-transition:enter-start="ctnp1 ci0ib" x-transition:enter-end="cyb2a cxrsv" x-transition:leave="cqrft csogj c0xnz c0owj cz2pr" x-transition:leave-start="cyb2a cxrsv" x-transition:leave-end="ctnp1 c13xf" style="display: none;">
                                        <img class="crfle c6axz cet3v" src="/themes/custom/staydirect//img/wepik-export-about.png" width="540" height="620" alt="Features home 2 02">                           
                                    </div>
                                    <!-- Item 3 -->
                                    <div class="cb3e5" x-show="tab === &#39;3&#39;" x-transition:enter="cqrft csogj ce533 c0owj c1o59" x-transition:enter-start="ctnp1 ci0ib" x-transition:enter-end="cyb2a cxrsv" x-transition:leave="cqrft csogj c0xnz c0owj cz2pr" x-transition:leave-start="cyb2a cxrsv" x-transition:leave-end="ctnp1 c13xf" style="display: none;">
                                        <img class="crfle c6axz cet3v" src="/themes/custom/staydirect//img/wepik-export-about.png" width="540" height="620" alt="Features home 2 03">
                                    </div>                                                
                                </div>
                            </div> 
                            
                            <!-- Content -->
                            <div class="cj9xn cya8o aos-init aos-animate cya8o-and" data-aos="fade-up">
                                <div class="">
                                    <h4 class="sb-ttl" style="text-align: left !important;">
                                        about us
                                    </h4>
                                    <h2 class="ttl">Your Trusted Partner in Vacation Rentals</h2>
                                    <hr class="sm" style="">
                                </div>
                                <!-- Tabs buttons -->
                                <div class="c2aq3 ctw2n btn-about">                        
                                    <button :class="tab !== &#39;1&#39; ? &#39;cq8l3 cfu5h&#39; : &#39;c6am5 cyb2a&#39;" class="c0xnz c77es csogj cqrft cp2yt c6am5 cb83m cet3v cfycn cf7ka cg1ua cz54d cyb2a" @click="tab = &#39;1&#39;">
                                        <div class="abt-icn" style="width:70px ;height: 70px;">
                                            <img class="csbo8 cwi8h cvzb4 c3qvm cw6t2 c5xow clh46" src="/themes/custom/staydirect/img/ellips-about.png" style="width: 70px; height: 70px; ">
                                        </div> 
                                        <div class="abt">
                                            <div class="c3m9y ce1k1 czx7p">Internal Feedback</div>
                                            <div class="cq15i ttlabt">Lorem ipsum dolor sit amet consectetur. Dignissim at tellus egestas morbi felis nunc a lacinia et. Mi ipsum.</div>
                                        </div>
                                    </button>
                                    <button :class="tab !== &#39;2&#39; ? &#39;cq8l3 cfu5h&#39; : &#39;c6am5 cyb2a&#39;" class="c0xnz c77es csogj cqrft cp2yt c6am5 cb83m cet3v cfycn cf7ka cg1ua cq8l3" @click="tab = &#39;2&#39;">
                                        <div  class="abt-icn" style="width:70px ;height: 70px;">
                                            <img class="csbo8 cwi8h cvzb4 c3qvm cw6t2 c5xow clh46" src="/themes/custom/staydirect/img/ellips-about.png" style="width: 70px; height: 70px; ">
                                        </div> 
                                        <div  class="abt">
                                            <div class="c3m9y ce1k1 czx7p">Internal Feedback</div>
                                            <div class="cq15i ttlabt">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur velit.</div>
                                        </div>
                                    </button>
                                    <button :class="tab !== &#39;3&#39; ? &#39;cq8l3 cfu5h&#39; : &#39;c6am5 cyb2a&#39;" class="c0xnz c77es csogj cqrft cp2yt c6am5 cb83m cet3v cf7ka cg1ua cq8l3" @click="tab = &#39;3&#39;">
                                        <div  class="abt-icn" style="width:70px ;height: 70px;">
                                            <img class="csbo8 cwi8h cvzb4 c3qvm cw6t2 c5xow clh46" src="/themes/custom/staydirect/img/ellips-about.png" style="width: 70px; height: 70px; ">
                                        </div> 
                                        <div  class="abt">
                                            <div class="c3m9y ce1k1 czx7p">Internal Feedback</div>
                                            <div class="cq15i ttlabt">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur velit.</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </section>

            <!-- Pricing -->
    
            <section class="prc-and">
                <div class="rct"></div>
                <div class="c8i2c csk5c c6axz c0q32">
                    <div class="cbdbo cn3zo cyhmq cfqnb">

                        <!-- Section header -->
                        <div class="culxg c1b04 c0gcy c6axz cj21u">
                            <h2 class="cjkol c3m9y c6gna">Our Pricing</h2>
                            <hr class="sm auto">
                        </div>

                        <!-- Section content -->
                        <div class="xl:space-x-18 ces2b cpjvl crfle copdj cdyuj cw2zc c0qm6 c69oy ce1qk cg0ln c6axz cf7ka" x-data="{ tab: &#39;1&#39; }">

                            <!-- Tabs items (images) -->
                            <div class="cevyg cupyh cya8o c309j cqlx0 aos-init aos-animate" data-aos="fade-down">
                                <div class="cfo6z cg0ln cf7ka">
                                    
                                    <div class="cb3e5 text-left" style="padding-top: 77px;">
                                        <h5 class="ttl">Your Trusted Partner in Vacation Rentals</h5>
                                        <p class="cmdwy ctw2n">
                                            Welcome to our website specialized in vacation rentals. We offer an exceptional selection of dream rentals for unforgettable stays. Browse through our website templates designed to help you convert visitors into bookings.
                                        </p>
                                        <div>
                                            <a class="and-btn" href="#">Bouton CTA</a>
                                        </div>
                                    </div>
                                                            
                                </div>
                            </div>                

                            <div class="cj9xn cya8o aos-init aos-animate price" data-aos="fade-up">
                                <div class="ctmv6 cfo6z cg0ln cb83m c9t64 cf7ka cnv4k aos-init aos-animate pdlr-86" data-aos="fade-up" data-aos-delay="200" style="max-width: 417px !important; margin:auto">
                                    <div class="c67zf ca3en">
                                        <div>
                                            <img src="/themes/custom/staydirect/img/etoile.png" alt="" class="auto">
                                        </div>
                                        <div class="cq15i cq15i-and" style="text-align: center;">Standard</div>
                                        <div class="cfycn" style="text-align: center;">
                                            <span class="dol" style="text-align: center;">$14</span>
                                            <span class="per">monthly</span>
                                        </div>
                                    </div>
                                    <ul class="cq15i c1gfu cn7xo ce4hu">
                                        <li class="c7baw cf7ka">
                                            <svg class="c6hoq cwi8h cvzb4 ckmyz cbsa0 cvms3" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"></path>
                                            </svg>
                                            <span>Lorem ipsum dolor asit</span>
                                        </li>
                                        <li class="c7baw cf7ka">
                                            <svg class="c6hoq cwi8h cvzb4 ckmyz cbsa0 cvms3" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"></path>
                                            </svg>
                                            <span>Lorem ipsum dolor asit</span>
                                        </li>
                                        <li class="c7baw cf7ka">
                                            <svg class="c6hoq cwi8h cvzb4 ckmyz cbsa0 cvms3" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"></path>
                                            </svg>
                                            <span>Lorem ipsum dolor asit</span>
                                        </li>
                                     
                                    </ul>
                                    <div class="c7ozn cet3v ce57r price-btn">
                                            Bouton CTA
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </section>

            <!-- Features 01 -->
            <section class="cfo6z ft-01 video-play" style="position:relative;">

                <div class="c9bis cpgxa c85z2 cz2pr c2f0a c9okn" aria-hidden="true"></div>

                <div class="cfo6z csk5c c6axz c0q32">
                    <div class="cn3zo cfqnb">

                        <!-- Section content -->
                        <div class="video-play-img csk5c c6axz c0q32" x-data="{ tab: &#39;1&#39; }" style="background: url(/themes/custom/staydirect/img/video.png); background-size: 100%; height: 670px; max-width: 75rem; background-repeat: no-repeat; display: flex; justify-content: center; align-items: center;">

                            <img src="/themes/custom/staydirect/img/uil_play-circle.png" alt="" class="img-play">                            

                        </div>

                    </div>
                </div>
            </section>

            <!-- Features 03 -->
            <section class="cfo6z tmpl-and">

                <!-- Dark background -->
                <div class="ctddz c9bis c9qr7 c8f4p cai0z cz2pr c2f0a c8c2n cvwtm" aria-hidden="true"></div>

                <div class="c8i2c cfo6z csk5c c6axz c0q32">
                    <div class="cn3zo cfqnb">

                        <div class="culxg c1b04 c0gcy c6axz cj21u">
                            <h2 class="cjkol c3m9y cfycn c6gna" style="line-height: 150%;">Some preview of
                                website template</h2>
                        </div>

                        <!-- Section content -->
                        <div class="ck0zm crfle c4qbc cjlw8 c77es c218u c6axz cdv3n cvwwj">

                            <!-- 1st article -->
                            <article data-aos="fade-up" class="aos-init aos-animate article">
                                <a class="block cfo6z ckqnn c67zf cnlr1" href="#0">
                                   
                                    <div class="cqd6z">
                                        <img class="" src="/themes/custom/staydirect//img/theme1.jpg" width="342" height="342" alt="News 01">
                                    </div>
                                  
                                </a>
                                <h3 class="cjkol cs789 cwnfe ">
                                    <a class="clnxd c4e82 c3m9y" href="#0">Advanced Features</a>
                                    <img src="/themes/custom/staydirect//img/icn-theme.png" alt="">
                                </h3>
                              
                            </article>

                            <!-- 2nd article -->
                            <article data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate article">
                                <a class="block cfo6z ckqnn c67zf cnlr1" href="#0">

                                    <div class="cqd6z">
                                        <img class="" src="/themes/custom/staydirect//img/theme2.jpg" width="342" height="342" alt="News 02">
                                    </div>
                                 
                                </a>

                                <h3 class="cjkol cs789 cwnfe">
                                    <a class="clnxd c4e82 c3m9y" href="#0">Advanced Features</a>
                                    <img src="/themes/custom/staydirect//img/icn-theme.png" alt="">
                                </h3>
                              
                            </article>

                            <!-- 3rd article -->
                            <article data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate article">
                                <a class="block cfo6z ckqnn c67zf cnlr1" href="#0">
                                   
                                    <div class="cqd6z">
                                        <img class="" src="/themes/custom/staydirect//img/theme3.jpg" width="342" height="342" alt="News 03">
                                    </div>
                                
                                </a>
                                <h3 class="cjkol cs789 cwnfe">
                                    <a class="clnxd c4e82 c3m9y" href="#0">Advanced Features</a>
                                    <img src="/themes/custom/staydirect//img/icn-theme.png" alt="">
                                </h3>
                             
                            </article>
                            
                        </div>

                    </div>
                </div>
            </section>

            <section>
                <div class="c8i2c csk5c c6axz c0q32 contact">
                    <div class="cn3zo cfqnb">

                        <div class="culxg c1b04 c6axz cj21u">
                            <h2 class="cjkol c3m9y c67zf c6gna">Contact Us</h2>
                        </div>

                        <!-- Items -->
                        <style>
                            .contact-items {
                                position: relative;
                            }
                        </style>
                        <div class="c3xkw cr6o2 c1f48 c6jpj cokb5 c77es cfo6z c218u c6axz cg316 cvwwj contact-items" data-aos-id-blocks="">

                            <!-- 1st item -->
                            <div class="cfo6z aos-init aos-animate" data-aos="fade-up" data-aos-anchor="[data-aos-id-blocks]" style="position: relative;">
                                <img src="/themes/custom/staydirect//img/rc1.png" alt="" style="width: 100px; height: 100px;" class="auto center">
                                <p class="cq15i cqevk" style="max-width: 187px;">1901 Thornridge Cir.
                                    Shiloh, Hawaii 81063</p>
                            </div>

                            <!-- 2nd item -->
                            <div class="cfo6z aos-init aos-animate" data-aos="fade-up" data-aos-anchor="[data-aos-id-blocks]" data-aos-delay="100">
                                <img src="/themes/custom/staydirect//img/rc2.png" alt="" style="width: 100px; height: 100px;" class="auto center">
                                <p class="cq15i cqevk" style="max-width: 187px;">(406) 555-0120</p>
                            </div>

                            <!-- 3rd item -->
                            <div class="cfo6z aos-init aos-animate" data-aos="fade-up" data-aos-anchor="[data-aos-id-blocks]" data-aos-delay="200">
                                <img src="/themes/custom/staydirect//img/rc3.png" alt="" style="width: 100px; height: 100px;" class="auto center">
                                <p class="cq15i cqevk" style="max-width: 187px;">nevaeh@example.com</p>
                            </div>

                        </div>

                    </div>
                </div>
            </section>
   
        </main>

        <!-- Site footer -->
       
        <footer>
            <div class="c8i2c csk5c c6axz c0q32">

                <!-- Bottom area -->
                <div class="cy6ow cbdbo ckq44 cyhmq cwllr ctn3m cdiko">

                    <!-- Social links -->

                    <div class="cq15i csthe c3qvm menu-footer">
                        <ul class="cn7ka cnejy coxwf c2aq3 c67zf cf7ka menu-men">
                            <li>
                                <a class="cnh95 cdx5r czmuy csogj cqrft" href="/register.html">
                                    Page Register
                                </a>
                            </li>
                            <li>
                                <a class="cnh95 cdx5r czmuy csogj cqrft" href="/confirmation-method.html">
                                    Confirmation 
                                </a>
                            </li>
                            <li>
                                <a class="cnh95 cdx5r czmuy csogj cqrft" href="/payment-method.html">
                                    Payment 
                                </a>
                            </li>
                            <li>
                                <a class="cnh95 cdx5r czmuy csogj cqrft" href="/information-method.html">
                                    User Information
                                </a>
                            </li>
                            <li>
                                <a class="cnh95 cdx5r czmuy csogj cqrft" href="#0">
                                    Menu 5
                                </a>
                            </li>
                        </ul>
                    </div>

                    <ul class="cn7ka cnejy coxwf c2aq3 c67zf cf7ka menu-icn">
                        <li class="icon-rs-footer">
                            <a class="cnh95 cdx5r czmuy csogj cqrft " href="#0" aria-label="Twitter">
                               <img src="/themes/custom/staydirect//img/uil_facebook-f.png" alt="" class="auto" style="text-align: center;">
                            </a>
                        </li>
                        <li class="icon-rs-footer">
                            <a class="cnh95 cdx5r czmuy csogj cqrft" href="#0" aria-label="Facebook">
                                <img src="/themes/custom/staydirect//img/uil_twitter.png" alt="" class="auto" style="text-align: center;">
                            </a>
                        </li>
                        <li class="icon-rs-footer">
                            <a class="cnh95 cdx5r czmuy csogj cqrft" href="#0" aria-label="Telegram">
                                <img src="/themes/custom/staydirect//img/uil_google.png" alt="" class="auto" style="text-align: center;">
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </footer>

    </div>