*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    scroll-behavior: smooth;
}
.btn--resp {
  padding: 20px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 38px;
  background: var(--bleu-color);
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
ul li {
  list-style-type: none;
}
.wrapper--resp {
margin: auto;
} 
header .menu-main--resp ul {
display: flex;
flex-direction: row;
gap: 39px;
}  
header .menu-main--resp ul li a{
color: var(--bleumarine-color);
font-family: "Montserrat";
font-size: 23px;
font-style: normal;
font-weight: 500;
line-height: normal;
} 
header .menu-main--resp ul li.active a {
color: var(--bleu-color);
} 
header .menu-main--resp ul li.active::after {
content: "";
width: 29px;
height: 3px;
background: var(--bleu-color);
margin-top: 10px !important;
display: block ;
margin: auto;
}
@media (max-width: 499.96px) {
.wrapper--resp {
  width: 100%;
  max-width: none !important;
  padding-left: 20px;
  padding-right:20px
}
.none-mob {
  display: none !important;
}
}
@media (min-width: 499.98px) {
.wrapper--resp {
  width: 100%;
  max-width: none;
  padding-left: 20px;
  padding-right:20px;
}
.none-mob {
  display: none !important;
}
}
@media (min-width: 767.98px) {
.wrapper--resp {
  width: 100%;
  max-width: none !important;
  padding-left: 40px;
  padding-right:40px
}
.none-tab {
  display: none !important;
}
}
@media (min-width: 991.98px) {
.wrapper--resp {
  width: 100%;
  max-width: none !important;
  padding-left: 60px;
  padding-right:60px;
}
.none-desk, .menu-mobile-effet {
  display: none !important;
}

}
@media (min-width: 1199.98px) {
.wrapper--resp {
  width: 100%;
  max-width: none !important;
  padding-left: 60px;
  padding-right:60px;
}
}
@media (min-width: 1385.98px) {
  .wrapper--resp {
    max-width: 1200px !important;
    padding-left: 0px;
    padding-right:0px;
  }
}
@media (min-width: 1499.98px) {
.wrapper--resp {
  max-width: 1500px;
  padding-left: 0px;
  padding-right:0px;
}
}
.container-book-form #datepicker {
  height: 40px;
  padding: 15px;
  margin-bottom: 10px;
}