{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
    {% block templating_content %}

    {% set item_name = 'block--staydirect-hero-4-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'block__staydirect_hero_4_full')}}

      <!-- bloc hero 4-->
          <!-- bloc hero 4-->
        
        {% set c = block_parser(content) %}
        {% set paragraphs = c['field_paragraph3'] %}
        {% set paragraphs_length = paragraphs|length %}
        {{ attach_library('staydirect/bootstrap') }}

        <div class="hero--4-resp" id="contact-us"></div>
        <section class="hero-4-resp">
            <div class="container-resp">
                <div class="content-hero-4-resp-head">
                    <h3 class="title-resp">
                        {{c.field_title}}
                    </h3>
                </div>
            </div>
        </section>
    
        <div class="contact--feedback--staydirec-hero-4" id="contact--feedback--staydirec-hero-4">
            <div class="container container-resp py-4">
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                <div class="h-100 p-5 rounded-3 container--rounded--std-hero-4 container--rounded--std--feedback-hero-4">
                    <div class="custom-featured-icon-wrapper bg-secondary mb-4 ev--js--icn--popup--hero4">
                        <div class="icone--image--hero-4 icone--feedback--hero-4">

                        </div>
                    </div>
                    <p>
                        Feedback call to action
                    </p>
                </div>
                </div>
                <div class="col-md-6">
                   
                        <div class="h-100 p-5 rounded-3 container--rounded--std-hero-4 container--rounded--std--email-hero-4">
                            <div class="custom-featured-icon-wrapper bg-secondary mb-4  ev--js--icn--popup--hero4">
                                <div class="icone--image--hero-4 icone--message--hero-4">
    
                                </div>
                            </div>
                            <p>
                                Email us
                            </p>
                        </div>
                 
                   
                </div>
            </div>
            </div>
        </div>

        <div class="container--popup--hero-4 hidden">
            <div class="close--popup--hero-4" onclick="closePopup()"> 
                <!--?xml version="1.0" encoding="UTF-8"?-->
                <svg width="45" height="45" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill="white" fill-opacity="0.01"></rect><path d="M14 14L34 34" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14 34L34 14" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </div>
            <div class="popup--hero-4 hidden" id="popup--hero-4">
                <div class="container">
                
                    <div class="row">
                    <div class="col-md-12 order-md-1">
                       

                        <form action="#" class="needs-validation form--email-hero-4 form--hero4--sendmail" novalidate="">
                        <h3>Feedback call to action</h3>
                        <div class="form--content--feedback">
                                <p>Feedback category</p>
                                <ul>
                                    <li>
                                        <input type="radio" name="suggestion"> Suggestion
                                    </li>
                                    <li>
                                        <input type="radio" name="suggestion"> Something is not quite right
                                    </li>
                                    <li>
                                        <input type="radio" name="suggestion"> Compliment
                                    </li>
                                </ul>
                                <textarea id="feedback" name="feedback" placeholder="Leave a comment here" maxlength="500" onkeyup="MaxLengthTextarea(this, 150);"></textarea>
                                <p class="nb--max-char">500</p>

                                <button type="button" class="btn btn-primary btn-lg">Send</button>
                        </div>
                        </form>
                        <form class="needs-validation form--feedback-hero-4" novalidate="">
                            <div class="row mt-n5 mt-sm-n7 mt-md-n8">
                                <div class="col-12 col-lg-12 mx-auto" style="padding-left: 0 !important; padding-right: 0 !important;">
                                    <div class="card shadow p-4 p-sm-5 p-md-6">
                                        <div class="hero-4--feedback--head">
                                            <h2>Send mail</h2>
                                     
                                        </div>
                                  
                                        <!-- Card body & form -->
                                            <div class="custom-control-message input-floating-label form-floating mb-7">
                                                <label for="floatingTextarea2"> Enter your email <span>*</span></label>
                                                <input type="email" required class="form-control bg-transparent" placeholder="Email" id="floatingTextarea2" style="height: 50px; padding-left: 20px;">
                                            </div>
                                            <!-- Message -->
                                            <div class="input-floating-label form-floating mb-4">
                                                <textarea class="form-control bg-transparent mail--sms" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px; padding: 10px 15px !important"></textarea>
                                            </div>
                                            <!-- Button -->
                                            <button class="btn btn-lg btn-primary mb-0" onclick="return false;">Send a message</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                        <script type="text/javascript">
                            if( document.body.contains(  document.querySelector(".contact--feedback--staydirec-hero-4") ) ) {
                                let feedback_sms = document.querySelector("#feedback");
                                let nb_max = document.querySelector(".nb--max-char");
                                let submit_feedback = document.querySelector(".submit--feedback");
                                let suggustions = document.querySelectorAll("input[name='suggestion']");
                                let close__popup__hero_4 = document.querySelector(".close--popup--hero-4");
                                let email = document.querySelector("input[type='email']");
                                let mail__sms = document.querySelector(".mail--sms");
                                
                                feedback_sms.disabled = true;
                             
                                suggustions.forEach( function( suggustion , index ) {
                                    suggustion.addEventListener( "click", function(){
                                        feedback_sms.disabled = false;
                                    });
                                });
                             
                                feedback_sms.onkeyup = () => {
                                    let nb_caracterefeeback = feedback_sms.value.length;
                                    nb_max.innerHTML = 500 - parseInt(nb_caracterefeeback);
                                }
                                
                                close__popup__hero_4.onclick = () => {
                                    feedback_sms.value="";
                                    email.value="";
                                    feedback_sms.disabled = true; 
                                    nb_max.innerHTML = 500;
                                    mail__sms.value="";
                                    suggustions.forEach( function( suggustion , index ) {
                                        suggustion.checked = false;  
                                    });
                                }

                            }
                        </script>
                    </div>
                    </div>
            
                </div>
            </div>
        </div>
        <!-- End bloc hero 4-->
        <script>
            let item_icons = document.querySelectorAll(".ev--js--icn--popup--hero4");
            let close = document.querySelector(".close--popup--hero-4");
            let popup = document.querySelector(".container--popup--hero-4");
            let content_popup = document.querySelector(".popup--hero-4");

            item_icons.forEach( function( item_icon , index ) {
                item_icon.addEventListener( "click", function(){
                    sectionIndex = index;
                    console.log(sectionIndex);
                    popup.classList.remove("hidden");
                    popup.classList.add("show");
                    document.querySelector(".form--feedback-hero-4").style.display = "none";
                    document.querySelector(".form--feedback-hero-4").style.display = "none";
                    if( sectionIndex == 0 ) {
                        document.querySelector(".form--feedback-hero-4").style.display = "none";
                        document.querySelector(".form--email-hero-4").style.display = "block";
                    }
                    if( sectionIndex == 1 ) {
                        document.querySelector(".form--email-hero-4").style.display = "none";
                        document.querySelector(".form--feedback-hero-4").style.display = "block";
                    }
                    setTimeout(() => {
                        content_popup.classList.remove("hidden");
                        content_popup.classList.add("show");
                    }, 500);
                
                } );
            });

            close.addEventListener('click', function(){
                popup.classList.add("hidden");
                popup.classList.remove("show");
                content_popup.classList.remove("show");
                content_popup.classList.add("hidden");
            });
        </script>


{% endblock %}