{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
    {% block templating_content %}

    {% set item_name = 'block--staydirect-mycontact-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'block__staydirect_mycontact_full')}}
    
    <div class="payment-choose-method rct--contact--us">
        <main class="main--rct--contact--us">
            <div class="container">
                <div class="container">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center">
                        <li class="breadcrumb-item text-left">
                        <a  href="#">
                            <img src="./img/step-payment-grey.png" alt="">
                        </a>
                        </li>
                        <li class="breadcrumb-item">
                        <a href="#">
                            <img src="./img/step-payment.png" alt="">
                        </a>
                        </li>
                        <li class="breadcrumb-item text-right">
                            <a href="#">
                                <img src="./img/step-payment.png" alt="">
                            </a>
                        </li>
                    </ol>
                    </nav>
                </div>
            </div>
            <div class="container choose">
                <div class="row">
                    <h3 class="title--contact--us">Contact Us</h3>
                </div>
                <div class="row form-payment">
        
                    <div class="col-md-12 col-lg-12">
                        <form class="needs-validation" novalidate="">
                            <div class="row">

                                <div class="col-sm-6 first-col-sm-6 mt-1">
                            
                                    <input type="text" class="form-control" id="firstName" placeholder="First name" value="" required="">
                                </div>
                    
                                <div class="col-sm-6 last-col-sm-6 mt-1">
                            
                                    <input type="text" class="form-control" id="lastName" placeholder="Last name" value="" required="">
                               

                                </div>

                                <div class="col-12 mt-1">
                            
                                    <div class="input-group has-validation">
                                        <textarea  class="form-control" id="username" required=""></textarea>
                                    </div>
                            
                                </div>
    

                            </div>
                        </form>
                    </div>
                </div>
                <div class="row btn-pre-nxt">
                    <div class="container">
                        <p class="float-end mb-1 btn--std--night">
                            <span class="" style="width: 100%; display: inline-block;">Next</span>
                            <img src="./img/uil_angle-right.png" alt="" style="display: inline-block;">
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock %}