{% block templating_content %}
{% set c = block_parser(content) %}

<nav class="navbar navbar-expand-md navbar-dark  navbar-and navbar-and-specification" style="position:relative">
    <div class="container">
      <a class="logo align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none title title-specification" href="#">{{c.field_text}}</a>
    </div>
</nav>
{% endblock %}