{% extends get_module_path('templating') ~ "/templates/misc/node.html.twig" %}
    
    {% block templating_content %}

    {% set item_name = 'block--staydirect-template-1-specification-full.html' %} 
    {% set path_css = '/themes/custom/staydirect_template_1/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'block__staydirect_template_1_specification_full')}}

    {% set c = block_parser(content) %}

    <div class="specification">
        <div class="container">
            <div class="row">
            <div class="settings">
                <div class="content-settings" style="display: none;">
                <div class="setting-color version-bleu active">
                    <svg width="16" height="16" fill="#3498DB" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
                </div>
                <div class="setting-color version-vert">
                    <svg width="16" height="16"  fill="#1ECC71" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
                </div>
                <div class="setting-color version-gris">
                    <svg width="16" height="16" fill="#333" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
                </div>
            </div>
            </div>
                <div class="col-md-7 col-lg-7 spec-left" bis_skin_checked="1">
            
                <div class="content-spec-left">
                    <h4 class="mb-3">
                    <i class="icon i-spec">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M19.6376 15.8875C20.8631 14.9234 21.7576 13.6012 22.1967 12.105C22.6357 10.6087 22.5975 9.01287 22.0873 7.53937C21.5772 6.06587 20.6204 4.78802 19.3502 3.8836C18.08 2.97918 16.5594 2.49316 15.0001 2.49316C13.4408 2.49316 11.9203 2.97918 10.65 3.8836C9.3798 4.78802 8.42305 6.06587 7.91288 7.53937C7.40272 9.01287 7.36451 10.6087 7.80357 12.105C8.24263 13.6012 9.13713 14.9234 10.3626 15.8875C8.26271 16.7288 6.43048 18.1242 5.06123 19.9249C3.69199 21.7256 2.83707 23.8642 2.58762 26.1125C2.56956 26.2767 2.58401 26.4428 2.63015 26.6014C2.67629 26.7599 2.7532 26.9078 2.85651 27.0367C3.06514 27.2969 3.3686 27.4636 3.70012 27.5C4.03164 27.5365 4.36407 27.4398 4.62427 27.2311C4.88448 27.0225 5.05115 26.7191 5.08762 26.3875C5.3621 23.944 6.52723 21.6873 8.36039 20.0485C10.1936 18.4097 12.5662 17.5038 15.0251 17.5038C17.484 17.5038 19.8567 18.4097 21.6898 20.0485C23.523 21.6873 24.6881 23.944 24.9626 26.3875C24.9966 26.6947 25.1432 26.9784 25.374 27.1838C25.6048 27.3892 25.9036 27.5019 26.2126 27.5H26.3501C26.6778 27.4623 26.9773 27.2967 27.1833 27.0391C27.3894 26.7815 27.4853 26.453 27.4501 26.125C27.1995 23.8703 26.34 21.7263 24.9637 19.9228C23.5874 18.1193 21.7463 16.7244 19.6376 15.8875ZM15.0001 15C14.0112 15 13.0445 14.7068 12.2223 14.1574C11.4 13.608 10.7592 12.8271 10.3807 11.9135C10.0023 10.9998 9.90326 9.99449 10.0962 9.02458C10.2891 8.05468 10.7653 7.16376 11.4646 6.4645C12.1638 5.76524 13.0548 5.28903 14.0247 5.09611C14.9946 4.90318 15.9999 5.0022 16.9135 5.38064C17.8272 5.75907 18.6081 6.39994 19.1575 7.22218C19.7069 8.04443 20.0001 9.01113 20.0001 10C20.0001 11.3261 19.4733 12.5979 18.5357 13.5356C17.598 14.4733 16.3262 15 15.0001 15Z" fill="white"/>
                        </svg>
                    </i>
                    <span class="text">Specification</span> 
                    </h4>
                    <form class="needs-validation" novalidate="">
                    <div class="row g-3" bis_skin_checked="1">
                        <div class="col-sm-6" bis_skin_checked="1">
                        <label for="firstName" class="form-label">Check-in date</label>
                        <input type="date" class="form-control form-control-date" id="firstName" placeholder="Sept 12, 2023" value="" required="">
                        </div>
            
                        <div class="col-sm-6" bis_skin_checked="1">
                        <label for="lastName" class="form-label">Check-out date</label>
                        <input type="date" class="form-control float-right form-control-date" id="lastName" placeholder="Sept 12, 2023" value="" required="">
                    
                        </div>
            
                        <div class="col-md-5" bis_skin_checked="1">
                        <label for="country" class="form-label">Guests</label>
                        <select class="form-select select-guests" id="guests" required="">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    
                        </div>
            
                    </div>
            
                    <h4 class="specication-ttl-2">
                        
                        <i class="icon i-spec">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <path d="M19.6376 15.8875C20.8631 14.9234 21.7576 13.6012 22.1967 12.105C22.6357 10.6087 22.5975 9.01287 22.0873 7.53937C21.5772 6.06587 20.6204 4.78802 19.3502 3.8836C18.08 2.97918 16.5594 2.49316 15.0001 2.49316C13.4408 2.49316 11.9203 2.97918 10.65 3.8836C9.3798 4.78802 8.42305 6.06587 7.91288 7.53937C7.40272 9.01287 7.36451 10.6087 7.80357 12.105C8.24263 13.6012 9.13713 14.9234 10.3626 15.8875C8.26271 16.7288 6.43048 18.1242 5.06123 19.9249C3.69199 21.7256 2.83707 23.8642 2.58762 26.1125C2.56956 26.2767 2.58401 26.4428 2.63015 26.6014C2.67629 26.7599 2.7532 26.9078 2.85651 27.0367C3.06514 27.2969 3.3686 27.4636 3.70012 27.5C4.03164 27.5365 4.36407 27.4398 4.62427 27.2311C4.88448 27.0225 5.05115 26.7191 5.08762 26.3875C5.3621 23.944 6.52723 21.6873 8.36039 20.0485C10.1936 18.4097 12.5662 17.5038 15.0251 17.5038C17.484 17.5038 19.8567 18.4097 21.6898 20.0485C23.523 21.6873 24.6881 23.944 24.9626 26.3875C24.9966 26.6947 25.1432 26.9784 25.374 27.1838C25.6048 27.3892 25.9036 27.5019 26.2126 27.5H26.3501C26.6778 27.4623 26.9773 27.2967 27.1833 27.0391C27.3894 26.7815 27.4853 26.453 27.4501 26.125C27.1995 23.8703 26.34 21.7263 24.9637 19.9228C23.5874 18.1193 21.7463 16.7244 19.6376 15.8875ZM15.0001 15C14.0112 15 13.0445 14.7068 12.2223 14.1574C11.4 13.608 10.7592 12.8271 10.3807 11.9135C10.0023 10.9998 9.90326 9.99449 10.0962 9.02458C10.2891 8.05468 10.7653 7.16376 11.4646 6.4645C12.1638 5.76524 13.0548 5.28903 14.0247 5.09611C14.9946 4.90318 15.9999 5.0022 16.9135 5.38064C17.8272 5.75907 18.6081 6.39994 19.1575 7.22218C19.7069 8.04443 20.0001 9.01113 20.0001 10C20.0001 11.3261 19.4733 12.5979 18.5357 13.5356C17.598 14.4733 16.3262 15 15.0001 15Z" fill="white"/>
                        </svg>
                        </i>
                        Payment
                    </h4>
            
                    <div class="row gy-3" bis_skin_checked="1">

                        <div class="col-sm-6" bis_skin_checked="1">
                        <input type="text" class="form-control" id="cc-name" placeholder="First Name" required="">
                        
                        </div>
            
                        <div class="col-sm-6 " bis_skin_checked="1">
                        <input type="text" class="form-control float-right" id="cc-number" placeholder="Last Name" required="">
                    
                        </div>
            
                        <div class="w-100 col-md-12" bis_skin_checked="1">
                        <input type="text" class="form-control" id="cc-cvv" placeholder="Email" required="" style="width: 100% !important; max-width: 100% !important;">
                        </div>

                        <div class="col-sm-6" bis_skin_checked="1">
                        
                        <input type="text" class="form-control" id="phone" placeholder="032 12 345 67" required="">

                        </div>

                        <style>
                        .specification .form-control-slccuntr {
                            background: url(./img/uil_angle-left.png) no-repeat !important;
                            background-position: right 20px bottom 15px !important;
                        }
                        </style>
            
                        <div class="col-sm-6" bis_skin_checked="1">
                        <select class="form-control float-right form-control-slccuntr" placeholder="Select Country">
                            <option value="AF">Afghanistan
                            <option value="ZA">Afrique du sud
                            <option value="AX">Åland, îles
                            <option value="AL">Albanie
                            <option value="DZ">Algérie
                            <option value="DE">Allemagne
                            <option value="AD">Andorre
                            <option value="AO">Angola
                            <option value="AI">Anguilla
                            <option value="AQ">Antarctique
                            <option value="AG">Antigua et barbuda
                            <option value="SA">Arabie saoudite
                            <option value="AR">Argentine
                            <option value="AM">Arménie
                            <option value="AW">Aruba
                            <option value="AU">Australie
                            <option value="AT">Autriche
                            <option value="AZ">Azerbaïdjan
                            <option value="BS">Bahamas
                            <option value="BH">Bahreïn
                            <option value="BD">Bangladesh
                            <option value="BB">Barbade
                            <option value="BY">Bélarus
                            <option value="BE">Belgique
                            <option value="BZ">Belize
                            <option value="BJ">Bénin
                            <option value="BM">Bermudes
                            <option value="BT">Bhoutan
                            <option value="BO">Bolivie, l'état plurinational de
                            <option value="BQ">Bonaire, saint eustache et saba
                            <option value="BA">Bosnie herzégovine
                            <option value="BW">Botswana
                            <option value="BV">Bouvet, île
                            <option value="BR">Brésil
                            <option value="BN">Brunei darussalam
                            <option value="BG">Bulgarie
                            <option value="BF">Burkina faso
                            <option value="BI">Burundi
                            <option value="KY">Caïmans, îles
                            <option value="KH">Cambodge
                            <option value="CM">Cameroun
                            <option value="CA">Canada
                            <option value="CV">Cap vert
                            <option value="CF">Centrafricaine, république
                            <option value="CL">Chili
                            <option value="CN">Chine
                            <option value="CX">Christmas, île
                            <option value="CY">Chypre
                            <option value="CC">Cocos (keeling), îles
                            <option value="CO">Colombie
                            <option value="KM">Comores
                            <option value="CG">Congo
                            <option value="CD">Congo, la république démocratique du
                            <option value="CK">Cook, îles
                            <option value="KR">Corée, république de
                            <option value="KP">Corée, république populaire démocratique de
                            <option value="CR">Costa rica
                            <option value="CI">Côte d'ivoire
                            <option value="HR">Croatie
                            <option value="CU">Cuba
                            <option value="CW">Curaçao
                            <option value="DK">Danemark
                            <option value="DJ">Djibouti
                            <option value="DO">Dominicaine, république
                            <option value="DM">Dominique
                            <option value="EG">Égypte
                            <option value="SV">El salvador
                            <option value="AE">Émirats arabes unis
                            <option value="EC">Équateur
                            <option value="ER">Érythrée
                            <option value="ES">Espagne
                            <option value="EE">Estonie
                            <option value="US">États unis
                            <option value="ET">Éthiopie
                            <option value="FK">Falkland, îles (malvinas)
                            <option value="FO">Féroé, îles
                            <option value="FJ">Fidji
                            <option value="FI">Finlande
                            <option value="FR">France
                            <option value="GA">Gabon
                            <option value="GM">Gambie
                            <option value="GE">Géorgie
                            <option value="GS">Géorgie du sud et les îles sandwich du sud
                            <option value="GH">Ghana
                            <option value="GI">Gibraltar
                            <option value="GR">Grèce
                            <option value="GD">Grenade
                            <option value="GL">Groenland
                            <option value="GP">Guadeloupe
                            <option value="GU">Guam
                            <option value="GT">Guatemala
                            <option value="GG">Guernesey
                            <option value="GN">Guinée
                            <option value="GW">Guinée bissau
                            <option value="GQ">Guinée équatoriale
                            <option value="GY">Guyana
                            <option value="GF">Guyane française
                            <option value="HT">Haïti
                            <option value="HM">Heard et îles macdonald, île
                            <option value="HN">Honduras
                            <option value="HK">Hong kong
                            <option value="HU">Hongrie
                            <option value="IM">Île de man
                            <option value="UM">Îles mineures éloignées des états unis
                            <option value="VG">Îles vierges britanniques
                            <option value="VI">Îles vierges des états unis
                            <option value="IN">Inde
                            <option value="ID">Indonésie
                            <option value="IR">Iran, république islamique d'
                            <option value="IQ">Iraq
                            <option value="IE">Irlande
                            <option value="IS">Islande
                            <option value="IL">Israël
                            <option value="IT">Italie
                            <option value="JM">Jamaïque
                            <option value="JP">Japon
                            <option value="JE">Jersey
                            <option value="JO">Jordanie
                            <option value="KZ">Kazakhstan
                            <option value="KE">Kenya
                            <option value="KG">Kirghizistan
                            <option value="KI">Kiribati
                            <option value="KW">Koweït
                            <option value="LA">Lao, république démocratique populaire
                            <option value="LS">Lesotho
                            <option value="LV">Lettonie
                            <option value="LB">Liban
                            <option value="LR">Libéria
                            <option value="LY">Libye
                            <option value="LI">Liechtenstein
                            <option value="LT">Lituanie
                            <option value="LU">Luxembourg
                            <option value="MO">Macao
                            <option value="MK">Macédoine, l'ex république yougoslave de
                            <option value="MG">Madagascar
                            <option value="MY">Malaisie
                            <option value="MW">Malawi
                            <option value="MV">Maldives
                            <option value="ML">Mali
                            <option value="MT">Malte
                            <option value="MP">Mariannes du nord, îles
                            <option value="MA">Maroc
                            <option value="MH">Marshall, îles
                            <option value="MQ">Martinique
                            <option value="MU">Maurice
                            <option value="MR">Mauritanie
                            <option value="YT">Mayotte
                            <option value="MX">Mexique
                            <option value="FM">Micronésie, états fédérés de
                            <option value="MD">Moldova, république de
                            <option value="MC">Monaco
                            <option value="MN">Mongolie
                            <option value="ME">Monténégro
                            <option value="MS">Montserrat
                            <option value="MZ">Mozambique
                            <option value="MM">Myanmar
                            <option value="NA">Namibie
                            <option value="NR">Nauru
                            <option value="NP">Népal
                            <option value="NI">Nicaragua
                            <option value="NE">Niger
                            <option value="NG">Nigéria
                            <option value="NU">Niué
                            <option value="NF">Norfolk, île
                            <option value="NO">Norvège
                            <option value="NC">Nouvelle calédonie
                            <option value="NZ">Nouvelle zélande
                            <option value="IO">Océan indien, territoire britannique de l'
                            <option value="OM">Oman
                            <option value="UG">Ouganda
                            <option value="UZ">Ouzbékistan
                            <option value="PK">Pakistan
                            <option value="PW">Palaos
                            <option value="PS">Palestinien occupé, territoire
                            <option value="PA">Panama
                            <option value="PG">Papouasie nouvelle guinée
                            <option value="PY">Paraguay
                            <option value="NL">Pays bas
                            <option value="PE">Pérou
                            <option value="PH">Philippines
                            <option value="PN">Pitcairn
                            <option value="PL">Pologne
                            <option value="PF">Polynésie française
                            <option value="PR">Porto rico
                            <option value="PT">Portugal
                            <option value="QA">Qatar
                            <option value="RE">Réunion
                            <option value="RO">Roumanie
                            <option value="GB">Royaume uni
                            <option value="RU">Russie, fédération de
                            <option value="RW">Rwanda
                            <option value="EH">Sahara occidental
                            <option value="BL">Saint barthélemy
                            <option value="SH">Sainte hélène, ascension et tristan da cunha
                            <option value="LC">Sainte lucie
                            <option value="KN">Saint kitts et nevis
                            <option value="SM">Saint marin
                            <option value="MF">Saint martin(partie française)
                            <option value="SX">Saint martin (partie néerlandaise)
                            <option value="PM">Saint pierre et miquelon
                            <option value="VA">Saint siège (état de la cité du vatican)
                            <option value="VC">Saint vincent et les grenadines
                            <option value="SB">Salomon, îles
                            <option value="WS">Samoa
                            <option value="AS">Samoa américaines
                            <option value="ST">Sao tomé et principe
                            <option value="SN">Sénégal
                            <option value="RS">Serbie
                            <option value="SC">Seychelles
                            <option value="SL">Sierra leone
                            <option value="SG">Singapour
                            <option value="SK">Slovaquie
                            <option value="SI">Slovénie
                            <option value="SO">Somalie
                            <option value="SD">Soudan
                            <option value="SS">Soudan du sud
                            <option value="LK">Sri lanka
                            <option value="SE">Suède
                            <option value="CH">Suisse
                            <option value="SR">Suriname
                            <option value="SJ">Svalbard et île jan mayen
                            <option value="SZ">Swaziland
                            <option value="SY">Syrienne, république arabe
                            <option value="TJ">Tadjikistan
                            <option value="TW">Taïwan, province de chine
                            <option value="TZ">Tanzanie, république unie de
                            <option value="TD">Tchad
                            <option value="CZ">Tchèque, république
                            <option value="TF">Terres australes françaises
                            <option value="TH">Thaïlande
                            <option value="TL">Timor leste
                            <option value="TG">Togo
                            <option value="TK">Tokelau
                            <option value="TO">Tonga
                            <option value="TT">Trinité et tobago
                            <option value="TN">Tunisie
                            <option value="TM">Turkménistan
                            <option value="TC">Turks et caïcos, îles
                            <option value="TR">Turquie
                            <option value="TV">Tuvalu
                            <option value="UA">Ukraine
                            <option value="UY">Uruguay
                            <option value="VU">Vanuatu
                            <option value="VE">Venezuela, république bolivarienne du
                            <option value="VN">Viet nam
                            <option value="WF">Wallis et futuna
                            <option value="YE">Yémen
                            <option value="ZM">Zambie
                            <option value="ZW">Zimbabwe​​​​​
                        </select>
                        </div>

                        <div class="w-100 col-md-12" bis_skin_checked="1">
                        <textarea class="form-control form-control-textarea" placeholder="Comments" required=""></textarea>
                    
                        </div>

                        <p>
                        This site is protected by reCAPTCHA and the Google privacy policy and Terms of Service apply.
                        </p>

                    </div>

                    
                    </form>
                </div>
                </div>

                <div class="col-md-5 col-lg-5 order-md-last" bis_skin_checked="1">
                
                <style>
                    .specification .spec-right {
                    max-width: 471px;
                    margin: auto;
                    border-radius: 0px 0px 20px 20px;
                    border-right: 1px solid rgba(51, 51, 51, 0.20);
                    border-bottom: 1px solid rgba(51, 51, 51, 0.20);
                    border-left: 1px solid rgba(51, 51, 51, 0.20);
                    background: #FFF;
                    }
                    .specification .spec-top {
                    max-width: 100%;
                    height: 270px;
                    flex-shrink: 0;
                    border-radius: 20px 20px 0px 0px;
                    background: url({{ c['field_media1']['image'].url }}) no-repeat;
                    background-color: #D9D9D9;
                    background-size: cover;
                    }
                    .specification .list-group-head h6 {
                    color: var(--bleumarine-color);
                    font-family: "Montserrat";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    margin-top: 10px !important;
                    }
                    .specification .list-group small {
                    color: rgba(51, 51, 51, 0.50);
                    font-family: "Montserrat";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 14px !important;
                    display: inline-block;
                    }
                    .specification .spec-right hr {
                    max-width: 401px;
                    height: 1px;
                    background: rgba(51, 51, 51, 0.20);
                    margin: auto;
                    margin-top: 25px;
                    margin-bottom: 19px;
                    max-width: 401px;
                    }
                    .specification .spec-right li {
                    border: none !important;
                    padding: 0;
                    margin-top: 20px;
                    }
                    .specification .spec-right form {
                    margin-top: 10px;
                    }
                    .specification .spec-right input {
                    border-radius: 10px;
                    border-bottom: 1px solid rgba(51, 51, 51, 0.32);
                    background: #FAFAFA;
                    max-width: 401px;
                    height: 50px;
                    flex-shrink: 0;
                    color: rgba(51, 51, 51, 0.40);
                    font-family: "Montserrat";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    }
                    .specification .spec-right .list-group-foot {
                    margin-top: 31.5px;
                    }
                    .specification .spec-right .list-group-foot strong {
                    color: #333;
                    font-family: "Montserrat";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    }
                    .specification .spec-right .list-group-foot span {
                    color: var(--bleu-color);
                    text-align: right;
                    font-family: "Montserrat";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    } 
                    .specification .spec-right + button, .spectification .btn {
                    margin:auto;
                    max-width: 471px;
                    height: 60px;
                    flex-shrink: 0;
                    background: var(--bleu-color) !important;
                    color: #FFF;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-align: center !important;
                    margin-top: 66px;
                    display: block;
                    }

                    @media screen and (max-device-width: 767.98px){ 
                    .navbar-and-specification .title-specification {
                        margin-top: 30px !important;
                    }
                    .specification .form-control {
                        width: 100%;
                    }
                    .specification .spec-right {
                        max-width: 566px;
                    }
                    }
                

                    @media screen and (max-device-width: 575.98px){
                    .navbar-and-specification .title-specification {
                        margin-top: 10px;
                        } 
                    .specification .form-control {
                        width: 100%;
                    }
                    }
                
                </style>

                <div class="spec-right">
                    <div class="spec-top">

                    </div>
                    <div style="padding-left: 23px; padding-right: 23px; padding-bottom: 49px">
                    <ul class="list-group">
                        <li class="list-group list-group-head">
                        <div bis_skin_checked="1">
                            <h6 class="my-0">Hotel Exemple</h6>
                            <small class="text-body-secondary">07008 Palma, Spain</small>
                        </div>
                        <span class="text-body-secondary"></span>
                        </li>
                        <hr style="margin-bottom: 0;">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div bis_skin_checked="1">
                            <h6 class="my-0">Date</h6>
                        </div>
                        <span class="text-body-secondary">Sept 12, 2023 - Sept 30, 2023</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div bis_skin_checked="1">
                            <h6 class="my-0">Guest</h6>
                        </div>
                        <span class="text-body-secondary">3</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div bis_skin_checked="1">
                            <h6 class="my-0">Room</h6>
                        </div>
                        <span class="text-body-secondary">Living, Kitchen, Garden</span>
                        </li>
                    
                        <li class="list-group-item d-flex justify-content-between" style="margin-top: 40px;">
                        <small>Have a promo code ?</small>
                        </li>
                    </ul>

                    <form>
                        <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        </div>
                    
                    </form>

                    <hr style="margin-top: 36px;">

                    <ul class="list-group list-group-foot">
                        <li class="list-group-item d-flex justify-content-between" style="margin-top: 0;">
                        <strong>TOTAL</strong>
                        <span>2.354.412 Ar</span>
                        </li>
                    </ul>
                    
                    </div>
                </div>

                <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
            
                </div>

            </div>
        </div>
    </div>

{% endblock %}
