{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}

{% block templating_content %}
{% set c = block_parser(content) %}
{% set imgs = c['field_images'] %}
{% set imgs_length = imgs|length %}

<div class="feature">
  <div class="container">
    <div class="content-feature">
      <h2 class="display-5 fw-normal sub-title">{{c.field_title}}</h2>
      <h1 class="title">{{c.field_subtitle}}</h1>
      <div class="container-slider">
          <!-- Swiper -->
          <div class="swiper swiper-feature">
            <div class="swiper-wrapper">

              {% for size in 0 .. (imgs_length - 1) %}
                <div class="swiper-slide">
                  <div class="content-slider">
                    <img src="{{ imgs[size]['image'].url }}" alt="" style="">
                  </div>
                </div>
              {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <!-- End Swiper -->
      </div>
        <!--
      <p class="container-btn no-padding">
        <a class="btn btn-primary" href="#role=">VIEW ALL</a>
      </p>
      -->
    </div>
  </div>
</div>


{% endblock %}