{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}

{% block templating_content %}
    <style>
    .grid {
        display: grid;
        gap: 10px;
    }
    .container-banniere-resp img {
        width:100%;
        height: 100%;
    }
    .container-banniere-resp {
        display: grid;
        height: 500px;
        overflow: hidden;
        gap: 5px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
    }
    .banniere-col1 {
        display: grid;
        display: grid;
        height: 100%;
        grid-template-columns: span 1;
        background-color: aquamarine;
    }
    .banniere-col2{
        display: grid;
        grid-column: span 3;
        height: 100%;
        grid-template-rows: repeat(2,1fr);
    }
    .banniere-col2-row1 {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
    }
    .banniere-col2-row2 {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        height: 100%;
    }
    .banniere-col2-row1-col1 {
        grid-column: span 1;
        background-color: #fff;
        grid-template-rows: 1fr;
        height: 100%;
    }
    .banniere-col2-row1-col2 {
        grid-column: span 2;
        background: rgb(251, 255, 0);
        grid-template-rows: 1fr;
        height: 100%;
    }
    .banniere-col2-row2-col1 {
        grid-column: span 2;
        background: rgb(251, 255, 0);
        grid-template-rows: 1fr;
        height: 100%;
    }
    .banniere-col2-row2-col2 {
        grid-column: span 1;
        background: #fff;
        grid-template-rows: 1fr;
        height: 100%;
    }
    
    
    </style>
    
    <style>
        .specification {
            position: relative;
            max-width: 1500px;
            margin: auto;
            margin-top: 85px;
            position: relative;
            margin-bottom: 110px;
        }
        .navbar-and-specification .container {
        text-align: center;
        display: block
        }
        .navbar-and-specification .title-specification {
        color: var(--bleumarine-color) !important;
        text-align: center;
        font-family: "Playfair Display" !important;
        font-size: 40px !important; 
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-top: 70px;
        display: inline-block;
        }
        .specification .spec-left {
        }
        .spectification .spec-right {
        background: blue;
        } 
        .specification form {
        max-width: 576px !important;
        }
        .specification label {
        color: rgba(51, 51, 51, 0.80);
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        }
        .specification .form-control {
        border-radius: 10px;
        border:none;
        border-bottom: 1px solid rgba(51, 51, 51, 0.32);
        background: #FAFAFA !important;
        max-width: 100%;
        height: 50px;
        flex-shrink: 0;
        color: rgba(51, 51, 51, 0.50) !important;
        font-family: "Montserrat";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 263px;
        margin-top: 11px;
        position: relative;
        padding-left: 20px;
        }
        .specification .form-control.form-control-date {
        padding-left: 50px;
        }
    
        .specification h4 {
        display: flex;
        align-items: center;
        }
    
        .specification form label {
        margin-top: 22px;
        }
    </style>
    
    <style>
    .specification .content-spec-left {
        max-width: 576px;
        padding-left: 0;
        padding-right: 0;
    }
    /*
    .specification h4::before {
        content: "";
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 50%;
        background: ;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(./img/uil_user.png) no-repeat center;
        display: inline-block;
    }
    */
    .specification h4 {
        width: 293px;
        height: 60px;
        flex-shrink: 0;
        background: linear-gradient(90deg, var(--bleu-color) 34.25%, rgba(52, 152, 219, 0.00) 100%);
        color: #FFF;
        font-family: "Montserrat";
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        border-radius: 60px 0 0 60px;
        margin-bottom: 18px !important;
    }
    .specification h4 i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .specification input[type="date"]::-webkit-calendar-picker-indicator {
        background-image: url(./img/uil_calendar-alt.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        position: absolute;
        left: 13px;
    }
    .specification .select-guests {
        width: 140px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 10px;
        border-bottom: 1px solid rgba(51, 51, 51, 0.32);
        background: #FAFAFA;
        background: url(./img/uil_users-alt.png) no-repeat, url(./img/uil_angle-left.png) no-repeat;
        background-position: left 13px top 13px, right 15px top 13px;
        padding-left: 53px;
        color: rgba(51, 51, 51, 0.50);
        font-family: "Montserrat";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .specification .specication-ttl-2 {
        margin-top: 63px;
    }
    .specification  .form-control.form-control-textarea {
        border-radius: 10px;
        border: none;
        border-bottom: 1px solid rgba(51, 51, 51, 0.32);
        background: #FAFAFA;
        color: rgba(51, 51, 51, 0.40);
        font-family:"Montserrat";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
        height: 120px;
        flex-shrink: 0;
        
    }
    .specification p {
        color: rgba(51, 51, 51, 0.50);
        font-family: "Montserrat";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%; /* 25.2px */
        width: 100%;
        margin-top: 20px;
    }
    @media (min-width: 767.98px) {
        .specification .form-control.float-left {
        float: none !important;
        }
        .navbar-and-specification .title-specification {
    
            margin-top: 40px;
            
        }
    }
    </style>

<style>
    .step--process {
      margin: 50px 0;
    }
    .step--process .round--step {
      text-align: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #ccc ;
    }
    .step--process .round--step.active {
      background-color: var(--bleu-color);
    }
    .step--process .trait {
      height: 10px;
      width: calc(50% - 63px);
      position: absolute;
      top: 8px;
      background: #ccc;
    }
    .step--process .step-1 .trait {
        left: 49px;
    }
    .trait2 {
        position: absolute;
        left: calc(50% + 7px);
        top: 8px;
        height: 10px;
        width: calc(50% - 60px);
        background: #ccc;
    }
    .trait2.active {
        background: var(--bleu-color);
    }
    .step-1 .trait.active {
      background: var(--bleu-color);
    }
    .step--process .container-step--process {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    .step--process .step {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .step--process .step p {
      margin-top: 15px;
    }
  </style>

  <div class="step--process">
    <div class="wrapper--resp">
      <div class="container-step--process">
        <div class="step-1 step">
          <div class="round--step active"></div>
          <p>Booking</p>
          <div class="trait"></div>
          <div class="trait2 active "></div>
        </div>
        <div class="step-2 step">
          <div class="round--step"></div>
          <p>Process</p>
         
        </div>
        <div class="step-3 step">
          <div class="round--step"></div>
          <p>Payment</p>
        </div>
      </div>
    </div>
  </div>
    
    <div class="specification payement">
        <div class="container">
            <div class="row">
            <div class="settings" style="display: none;">
                <div class="content-settings">
                <div class="setting-color version-bleu active">
                    <svg width="16" height="16" fill="#3498DB" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
                </div>
                <div class="setting-color version-vert">
                    <svg width="16" height="16"  fill="#1ECC71" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
                </div>
                <div class="setting-color version-gris">
                    <svg width="16" height="16" fill="#333" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
                </div>
            </div>
            </div>

            <div class="col-md-7 col-lg-7 spec-left" bis_skin_checked="1">
                <div class="header-cnt">
                <h1>
                    Where can get some
                </h1>
            
                </div>

                <div class="content-spec-left">
            
                <style>
                    .container--item-booking ul li {
                    margin-top: 20px;
                    }
                    .container--item-booking  .icon-link {
                    color: rgba(51, 51, 51, 0.50);
                    }
                    .container--item-booking .col-6-title .icon-link {
                    color: #000;
                    }
                </style>
                <div class="container--item-booking">
                    <div class="row">
                    <div class="col-6 col-6-title">
                        <ul class="list-unstyled ps-0">
                        <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/introduction/">
                            Date
                            </a>
                        </li>
                        <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/webpack/">
                            Guest
                            </a>
                        </li>
                        <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/parcel/">
                            Room
                            </a>
                        </li>
                        <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/vite/">
                            <strong>Sub total</strong>
                            </a>
                        </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled ps-0">
                            <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/introduction/">
                                Sept 12, 2023 - Sept 30, 2023
                            </a>
                            </li>
                            <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/webpack/">
                                1,544,000
                            </a>
                            </li>
                            <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/parcel/">
                                412
                            </a>
                            </li>
                            <li>
                            <a class="icon-link" href="/docs/5.3/getting-started/vite/">
                                <strong style="color: #000;"><span>Ar </span>1,544,412</strong>
                            </a>
                            </li>
                        </ul>
                    </div>
                
                    </div>
                </div>
            
                </div>
            
        
            </div>

            <div class="col-md-5 col-lg-5 order-md-last" bis_skin_checked="1">
                
                <style>
                .specification .spec-right {
                    max-width: 471px;
                    margin: auto;
                    border-radius: 20px;
                    border: 1px solid rgba(51, 51, 51, 0.20);
                    background: #FFF;
                }
                .specification .spec-top {
                    max-width: 100%;
                    flex-shrink: 0;
                    border-radius: 20px 20px 0px 0px;
                    background: url(./img/spec-top.jpg) no-repeat;
                    background-color: #D9D9D9;
                    background-size: cover;
                }
                .specification .list-group-head h6 {
                    color: var(--bleumarine-color);
                    font-family: "Montserrat";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    margin-top: 10px !important;
                }
                .specification .list-group small {
                    color: rgba(51, 51, 51, 0.50);
                    font-family: "Montserrat";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 14px !important;
                    display: inline-block;
                }
                .specification .spec-right hr {
                    max-width: 401px;
                    height: 1px;
                    background: rgba(51, 51, 51, 0.20);
                    margin: auto;
                    margin-top: 25px;
                    margin-bottom: 19px;
                    max-width: 401px;
                }
                .specification .spec-right li {
                    border: none !important;
                    padding: 0;
                    margin-top: 20px;
                }
                .specification .spec-right form {
                    margin-top: 10px;
                }
                .specification .spec-right input {
                    border-radius: 10px;
                    border-bottom: 1px solid rgba(51, 51, 51, 0.32);
                    background: #FAFAFA;
                    max-width: 100%;
                    height: 50px;
                    flex-shrink: 0;
                    color: rgba(51, 51, 51, 0.40);
                    font-family: "Montserrat";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .specification .spec-right .list-group-foot {
                    margin-top: 31.5px;
                }
                .specification .spec-right .list-group-foot strong {
                    color: #333;
                    font-family: "Montserrat";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                .specification .spec-right .list-group-foot span {
                    color: var(--bleu-color);
                    text-align: right;
                    font-family: "Montserrat";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                } 
                .specification .spec-right + button, .spectification .btn {
                    margin:auto;
                    max-width: 471px;
                    height: 60px;
                    flex-shrink: 0;
                    background: var(--bleu-color) !important;
                    color: #FFF;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-align: center !important;
                    margin-top: 66px;
                    display: block;
                }
                ::placeholder {
                    color: rgba(51, 51, 51, 0.50) !important;
                }

                @media screen and (max-device-width: 767.98px){ 
                    .navbar-and-specification .title-specification {
                        margin-top: 30px !important;
                    }
                    .specification .form-control {
                    width: 100%;
                    }
                    .specification .spec-right {
                        max-width: 566px;
                    }
                }
                

                @media screen and (max-device-width: 575.98px){
                    .navbar-and-specification .title-specification {
                        margin-top: 10px;
                    } 
                    .specification .form-control {
                    width: 100%;
                    }
                }
                
                </style>

            <style>

                .specification .form-payment {
                    padding: 15px;
                }
                .payement .spec-right {
                    padding-top: 15px;
                }
                .payement .spec-right li {
                    border: none !important;
                    padding: 0;
                    margin-top: 0px;
                }
                .payement .spec-right .list-group-foot strong {
                    color: #333;
                    font-family: "Montserrat";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    padding-left: 15px;
                }
                .specification .spec-right .list-group-foot span {
                    text-align: right;
                    font-family: "Montserrat";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    padding-right: 15px;
                }
            </style>

                <div class="spec-right">
                <div class="spec-top">

                </div>
                <div style="padding-left: 23px; padding-right: 23px; padding-bottom: 49px">
                    
                    <ul class="list-group">
                    <li class="list-group list-group-head">
                        <div bis_skin_checked="1">
                        <h3 class="my-0" style="text-align: center;">Payement</h3>
                        </div>
                    </li>
                </ul>

            

                    <form class="form-payment">
                    <li class="list-group-item d-flex justify-content-between">
                        <small>Card number</small>
                    </li>

                    <hr style="margin-top: 10px;">
                    <div class="input-group">
                        <input class="form-control" placeholder="Card number" style="padding-left: 45px; width: 60%;">
                        <input class="form-control" placeholder="MM / YY CVC" style="padding-left: 45px; width: 40%;">
                    </div>
                
                    </form>

                    <hr style="margin-top: 15px;">

                    <ul class="list-group list-group-foot">
                    <li class="list-group-item d-flex justify-content-between" style="margin-top: 0;">
                        <strong>1,544,412</strong>
                        <span style="color: #333;">Ar</span>
                    </li>
                    </ul>
                
                </div>
                </div>

                <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
            
            </div>

            </div>
        </div>
    </div>
{% endblock %}