{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}

  {% set item_name = 'block--staydirect-template-1-check-availaibility-full.html' %} 
  {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
  {% set css = include(path_css) %} 
  {{render_css(css,'block__staydirect_template_1_check_availaibility_full')}}

{% set c = block_parser(content) %}

    <div class="container container-book-form">
      <div class="row row-and" >
        <div class="col-md-9 auto">
          <div class="row row-and">
            <div class="col-md-10 container-book-left">
              <div class="row row-and">
                <div class="col-sm-12 content-book-left">
                  <label for="firstName" class="form-label">Select your date</label>
                  <input type="date" class="form-control" id="firstName" placeholder="Check-in & Out Date" value="" required="">
                  <div class="invalid-feedback" bis_skin_checked="1">
                    Check-in & Out Date
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 container-book-right" >
              <a href="{{base_url}}/booking" style=" 
              color: #fff !important;
              border: solid 1px #fff !important;
              padding: 15px 10px !important;
              border-radius: 13px !important;
            ">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
