@import url(https://fonts.cdnfonts.com/css/vastine-personal-use?styles=101853);
@import url(https://fonts.cdnfonts.com/css/kanit?styles=19865,19860,19858,19861,19863,19866,19854,19856,19852);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css);

main {
    margin-bottom: 50px;
}

.payment-choose-method nav {
    max-width: 69rem;
    max-width: 1202.53px;
}

.payment-choose-method nav .step a {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.60);
    text-align: center;
    font-size: 25px;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.payment-choose-method nav .step .ttl-step {
    color: #333;
    text-align: right;
    font-size: 50px;
    font-family: "Vastine Personal Use";
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.payment-choose-method main {
    margin-top: 112px;
}

.payment-choose-method .step-list {
    margin-top: 112px;
}

.payment-choose-method .container{
    max-width: 990px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    padding-right: 0;
    padding-left: 0;
   
}
.payment-choose-method .auto {
    margin: auto;    
}
.payment-choose-method .txt-right {
    text-align: right;
}
.payment-choose-method .txt-center {
    text-align: center;
}

.payment-choose-method .breadcrumb-chevron .breadcrumb-item {
    display: flex;
    gap: inherit;
    align-items: center;
    padding-left: 0;
    line-height: 1;
}

.payment-choose-method .breadcrumb-custom .breadcrumb-item {
    position: relative;
    flex-grow: 1;
}
.payment-choose-method .breadcrumb-custom .breadcrumb-item::before {
    display: none;
}

.payment-choose-method .breadcrumb-custom .breadcrumb-item:last-child {

}
.payment-choose-method .breadcrumb-custom .breadcrumb-item:last-child::after {
  
}
.payment-choose-method .choose h3 {
    text-align: center;
    color: rgba(74, 74, 74, 0.77);
    text-align: center;
    font-size: 35px !important;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 49px;
}
.payment-choose-method .row.form-payment {
    margin-top: 50px !important;
    margin-bottom: 75px;
}
.payment-choose-method .row.form-payment .left .card{
    width: 313px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid rgba(51, 51, 51, 0.85);
    background: #FCFCFC;
    float: left;
    height: 150px;
}
.payment-choose-method .form-payment form {
    border-radius: 10px;
    padding-top: 31px;
    padding-bottom: 42px;
}
.payment-choose-method .form-payment form label {
    color: rgba(51, 51, 51, 0.50);
    font-size: 18px;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.payment-choose-method .form-label {
    margin-bottom: 0 !important;
}

.payment-choose-method .form-payment .left,.payment-choose-method .form-payment .right {
    padding: 0 !important;
}

.payment-choose-method dl,.payment-choose-method  ol, .payment-choose-method ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}
.payment-choose-method h3 {
    margin-bottom: 0 !important;
}
.payment-choose-method .form-payment .col-12, .payment-choose-method .form-payment .col-sm-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 0 !important;
}
.payment-choose-method .form-payment .col-sm-6 {
    width: 48%;
}



textarea.form-control {
    border-radius: 10px;
    border-radius: 10px;
    background: #F6F6F6;
    width: 992px;
    min-height: 150px;
    border: none;
}
.payment-choose-method .btn-lg-and {
    display: flex;
    max-width: 442px;
    padding: 10px 30px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    color: #333;
    font-size: 20px;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    width: 100%;
}
.payment-choose-method figure {
    margin: 0 !important;
}
.payment-choose-method .btn-pre-nxt p{
    width: 191px;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    padding: 15px 40px 15px 30px;
    border: 1px solid rgba(51, 51, 51, 0.19);
    display: inline-flex;
    align-items: center;
    color: rgba(51, 51, 51, 0.62);
    font-size: 20px;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.payment-choose-method .btn-pre-nxt p.last{
    background: linear-gradient(138deg, rgba(51, 51, 51, 0.80) 0%, #333 100%);
    color: #FFF !important;
}
.payment-choose-method .btn-pre-nxt p.primary{
    color: rgba(51, 51, 51, 0.62);
}

.payment-choose-method .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
@media screen and (max-width: 1200px) {
    .payment-choose-method main, nav {
        padding: 0 20px;
    }
}
@media screen and (max-width: 932px) {
    .payment-choose-method .form-payment .col-sm-6 {
        max-width: 45%;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .payment-choose-method .form-payment .col-sm-6.last-col-sm-6{
        margin-left: 10% !important;
        margin-right: 0 !important;
    }
}
@media screen and (max-width: 823px) {
    .payment-choose-method .row.form-payment .left .card {
        width: 50%;
        float: none;
    }
    .payment-choose-method .card .img-visa, .payment-choose-method .card .img-paypal {
        padding: 0!important;
        width: 100%;
        text-align: center;
        max-width: 100px;
        margin: auto;
    }
}
@media screen and (max-width: 768px) {
    .payment-choose-method .row.form-payment .left .card {
        width: 100% !important;
        float: none;
        margin: auto;
    }
    .payment-choose-method .card .img-visa, .payment-choose-method .card .img-paypal {
        padding: 0!important;
        width: 100%;
        text-align: center;
        max-width: 100px;
        margin: auto;
    }
    .payment-choose-method .form-payment form , .payment-choose-method .form-payment form input,  .payment-choose-method .btn-lg-and{
        max-width: 100%;
    }
    .payment-choose-method .form-payment .right {
        margin-top: 50px;
    }

}

@media screen and (max-width: 650px) {
    .payment-choose-method ul.nav.me-auto.nav-logo {
        margin: auto;
        margin-top: 50px;
    }
    .payment-choose-method ul.nav.step {
        display: block;
        margin: auto;
        margin-top: 50px;
    }
    .payment-choose-method li.nav-item.txt-right {
        text-align: center;
    }
    .payment-choose-method nav .step .ttl-step {
        font-size: 40px;
        padding-left: 50px;
    }
 }

@media screen and (max-width: 424px) {
    .payment-choose-method li.breadcrumb-item img{
        width: 33.3%;
    }
    .payment-choose-method main {
        margin-top: 50px;
    }
    .payment-choose-method .row.form-payment {
        margin-top: 30px !important;
        margin-bottom: 35px;
    }
    .payment-choose-method .breadcrumb-item+.breadcrumb-item {
        padding-left: 0 !important
    }
    .payment-choose-method .btn-pre-nxt p {
        text-align: center;
        border-radius: 10px;
        gap: 10px;
        padding: 10px;
        border: 1px solid rgba(51, 51, 51, 0.19);
        display: inline-flex;
        align-items: center;
        color: rgba(51, 51, 51, 0.62);
        font-size: 20px;
        font-family: "Kanit";
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        width: 150px;
    }
    .payment-choose-method nav .step .ttl-step {
        font-size: 40px;
        padding-left: 0px !important;
        text-align: center;
    }
}

@media screen and (max-width: 380px) {               
    .payment-choose-method .breadcrumb-custom .breadcrumb-item {
        width: 30%;
    }
    .payment-choose-method .breadcrumb-custom .breadcrumb-item img {
        width: 50%;
    } 
}

.row.form-payment .col-sm-6{
    width: 50%;
}  
.row.form-payment .col-sm-6.first-col-sm-6 input {
    width: 97%;
    float: left;
}  
.row.form-payment .col-sm-6.last-col-sm-6 input{
    width: 97%;
    float: right;
} 
input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    color: rgba(51, 51, 51, 0.50);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    cursor: pointer;
}

.rct--contact--us .mt-1 {
    margin-bottom: 35px;
}
.rct--contact--us  form input, .rct--contact--us  form textarea {
    border: none !important;
    border-color: transparent !important;
    border-width: 0 !important;
    margin-bottom: 0 !important;
}
.rct--contact--us .invalid-feedback {
    color: rgba(51, 51, 51, 0.50) !important;
    font-size: 15px !important;
    font-family: "Kanit" !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 150% !important;
    padding-left: 15px;
}
.rct--contact--us h3.title--contact--us {
    margin: auto !important;
}

.rct--contact--us .row.form-payment {
    margin-bottom: 0 !important
}

.payment-choose-method.rct--contact--us .form-payment form input, .payment-choose-method.rct--contact--us form textarea {
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border-radius: 10px;
    background: #F6F6F6;
    color: rgba(51, 51, 51, 0.62);
    font-size: 20px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1.6px;
    padding: 15px 20px;
    margin-top: 15px;
    margin-bottom: 0 !important;
}

.payment-choose-method.rct--contact--us .form-control::placeholder {
    color: rgba(51, 51, 51, 0.62);
    font-size: 18px !important;
    font-style: normal !important;
    font-family: "Kanit" !important;
    font-weight: 700;
    line-height: 27px !important;
}
