/*========= respo.css header =======*/
.header-sticky.shawdow {
    background: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.35);
    box-shadow: 0 0 20px rgba(0,0,0,0.35);
}
.header-sticky a{
    text-decoration: none !important ;
}
.header-sticky li {
    list-style-type: none !important ;
}
.header-sticky .content-header {
    background: #fff !important ;
    width: 100% !important ;
}
.header-sticky {
    width: 100% !important ;
    z-index: 2 !important ;
    background: #fff !important;
}
.header-sticky .content-header {
    height: 114.50px  !important ;
    width: 100% !important ;
    display: flex !important ;
    flex-direction: row !important ;
    justify-content: space-between !important ;
    flex-wrap: nowrap !important ;
    align-items: center !important ;
    max-width: 100% !important ;
    
}
.header-sticky .logo-header img {
    width: 100% !important ;
    height: auto !important ;
}
.header-sticky .menu ul {
    display: flex !important ;
    gap: 40px !important ;
}
.header-sticky .menu ul li {
    display: inline-block !important ;
}
.header-sticky .menu ul li a{
    color: rgba(51, 51, 51, 0.60)  !important ;
    text-align: center !important ;
    font-style: normal !important ;
    font-weight: 400 !important ;
    line-height: 150% !important ; /* 30px */
}
.header-sticky .cta ul {
    display: flex !important ;
    padding: 10px 0px !important ;
    align-items: center !important ;
}
.header-sticky .cta ul li{
    display: inline-block
}
.header-sticky .cta ul li.btn-login a{
    color: #333  !important ;
    text-align: center !important ;
    font-family: "Kanit"  !important ;
    font-style: normal !important ;
    font-weight: 500  !important ;
    line-height: 150% !important ; /* 30px */
}
.header-sticky .cta ul li.btn-begin a{
    color: #FFF !important ;
    font-family: "Kanit" !important ;
    font-style: normal !important ;
    font-weight: 600 !important ;
    line-height: 150% !important ; /* 30px */
    border-radius: 10px !important ;
    background: var(--Dgrad-bleu, linear-gradient(138deg, rgba(98, 146, 158, 0.80) -15.04%, #62929E 104.44%)) !important ;
    border: none !important ;
}
.header-sticky .cta ul li.btn-begin a:hover, .header-sticky .cta ul li.btn-begin a:focus{
    color: #333  !important;
    font-size: 20px  !important;
    font-family: "Kanit"  !important;
    font-weight: 600  !important;
    display: inline-flex  !important;
    padding: 10px 30px  !important;
    align-items: center  !important;
    gap: 10px  !important;
    border-radius: 10px  !important;
    border: 1px solid #333  !important;
    background: transparent !important;
}
.header-sticky  .menu-mobile-effet {
    position: absolute !important ;
    width: 100% !important ;
    left: 0 !important ;
    top: 112px !important ;
    /*background: rgb(201 212 245 / 13%) !important ;*/
    background: #F8F9FE !important ;
    transition: all .3s linear !important ;
    overflow: hidden !important ;
    height: 0 !important ;
    z-index: 2 !important ;
}
.header-sticky  .menu-mobile-effet.show {
    height: 785px !important;
}
.header-sticky  .menu-mobile .content-menu-mobile {
    text-align: center !important ;
}
.header-sticky  .menu-mobile li {
    padding:20px 10px !important ;
    color: rgba(51, 51, 51, 0.60) !important ;
    text-align: center !important ;
    font-family: "Kanit" !important ;
    font-size: 20px !important ;
    font-style: normal !important ;
    font-weight: 400 !important ;
    line-height: 150% !important ; /* 30px */
}
/*humburgers*/
.menu-humbergers-resp {
    padding: 20px 30px !important ;
    align-items: center !important ;
    gap: 29px !important ;
    border-radius: 10px !important ;
    border: 1px solid #333 !important ;
    max-width: 110px !important ;
    max-height: 75px !important ;
}
.menu-humbergers-resp .rect-humb-resp {
    border-radius: 4px !important ;
    background: #333  !important ;
}
.menu-humbergers-resp .rect-humb-resp.rh-1-resp, .menu-humbergers-resp .rect-humb-resp.rh-3-resp {
    width: 50px !important ;
    height: 5px !important ;
    clear: both !important ;
}
.menu-humbergers-resp .rect-humb-resp.rh-2-resp {
    width: 30.745px !important ;
    height: 4.045px !important ;
    margin: 10px 0 !important ;
    float: right !important ;
}
/*end humbergers*/
/*user*/
.menu-mobile-effet1 {
    height: 100px;
    background: ;
    position: absolute;
    width: 234px;
    transition: all .3s linear !important;
    overflow: hidden !important;
    height: 0 !important;
    top: 71px;
    color: #fff;
    z-index: 2;
    display: block;
    width: 170px;
    background-color: #F8FAFE;
    border-bottom: 0 none;
    box-shadow: var(--gin-shadow-l2);
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: 10px !important;
}
.menu-mobile-effet1 .list-dropdwn {
    display: block !important;
}
.menu-mobile-effet1 ul {
    display: block !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-mobile-effet1 li {
    display: block;
}
.menu-mobile-effet1 ul.list-dropdwn li a {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: rgb(255, 255, 255) !important;
}
.menu-mobile-effet1.show {
    height: auto !important
}
.menu-mobile-effet1 ul {

}
.menu-mobile-effet1 li {
    /*padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;*/
}
.header-sticky .cta ul ul li a, .list-dropdwn li a{
        color: rgba(51, 51, 51, 0.60)  !important;
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 150% !important;
        text-align: left;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
}
/*user */
@media screen and (max-width: 499.96px){ 
    .container-resp {
        max-width: 380px  !important ;
        width: 100%  !important ;
        padding-left: 20px !important ;
        padding-right:20px !important ;
    
        margin: auto !important ;
    }
    .header-sticky .logo-header {
        max-width: 50% !important ;
    }
    .header-sticky .menu {
        display: none
    }
    .header-sticky .cta {
        display: none
    }
    .menu-humbergers {
        padding: 2.5vw 3vw  !important ;
    }
    .header-sticky  .menu-humbergers .rect-humb.rh-2 {
        width: 5vw !important ;
        height: 0.9vw  !important ;
        margin: .9vw 0 !important ;
    }
    .header-sticky .menu-humbergers .rect-humb.rh-1,.header-sticky .menu-humbergers .rect-humb.rh-3 {
        width: 8.4vw  !important ;
        height: 0.9vw  !important ;
        clear: both !important ;
    }
    .menu-humbergers-resp {
        padding: 2.5vw 3vw  !important ;
    }
    .menu-humbergers-resp .rect-humb-resp.rh-2-resp {
        width: 5vw !important ;
        height: 0.9vw  !important ;
        margin: .9vw 0 !important ;
    }
    .menu-humbergers-resp .rect-humb-resp.rh-1-resp,.menu-humbergers-resp .rect-humb-resp.rh-3-resp {
        width: 8.4vw  !important ;
        height: 0.9vw  !important ;
        clear: both !important ;
    }
}
@media (min-width: 499.98px) {
    .container-resp {
        max-width: 500px !important ;
        width: 100%  !important ;
        padding-left: 20px  !important ;
        padding-right: 20px  !important ;
    
        margin: auto !important ;
    }
    .header-sticky .logo-header {
        max-width: 50% !important ;
    }
    .header-sticky .menu {
        display: none
    }
    .header-sticky .cta {
        display: none
    }
    .header-sticky  .menu-humbergers-resp {
        padding: 10px 20px  !important ;
    }
    .menu-humbergers-resp {
        padding: 10px 20px  !important ;
    }
    
}
@media (min-width: 539.98px) {
    .container-resp {
        max-width: 500px !important ;
        width: 100%  !important ;
        padding-left: 0px  !important ;
        padding-right: 0px  !important ;
    
        margin: auto !important ;
    }
    .header-sticky .logo-header {
        width: 207px !important ;
    }
    .header-sticky .menu {
        display: none
    }
    .header-sticky .cta {
        display: none
    }
}
@media (min-width: 767.98px) {
    .container-resp {
        max-width: 768px !important ;
        width: 100%  !important ;
        padding-left: 40px  !important ;
        padding-right: 40px  !important ;
    
        margin: auto !important ;
    }
    .header-sticky .logo-header {
        width: 207px !important ;
    }
    .header-sticky .menu {
        display: none
    }
    .header-sticky .cta {
        display: none
    }
    .header-sticky .menu-mobile {
        display: block !important ;
    }
 
}
@media (min-width: 847.98px) {
    .container-resp {
        max-width: 848px !important ;
        width: 100%  !important ;
        padding-left: 0px  !important ;
        padding-right: 0px  !important ;
        margin: auto !important ;
    }
    .header-sticky .logo-header {
        width: 180px !important ;
    }
    .header-sticky .menu {
        display: block
    }
    .header-sticky .menu ul {
        gap: 20px !important;
    }
    .header-sticky .cta {
        display: block
    }
    .header-sticky .menu-mobile {
        display: none !important ;
    }
    .header-sticky .cta ul {    
        padding: 7px 0px !important ;
        gap: 20px !important ;
    }
    .header-sticky .menu ul li a {
        font-size: 16px !important ;
    }
    .header-sticky .cta ul li.btn-begin a {
        font-size: 16px !important ;
        padding: 10px 25px  !important ;
    }
    .header-sticky .menu-mobile {
        display: none  !important ;
    }
    .header-sticky .cta ul ul {
        display: block !important;
    }
    .header-sticky .cta ul li.btn-login ul li a {
        color: rgba(51, 51, 51, 0.60)  !important;
        text-align: center !important;
        font-family: "Kanit" !important;
        font-size: 17px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 150% !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        display: inline-block;
    }
}
@media (min-width: 991.98px) {
    .container-resp {
        max-width: 992px !important ;
        width: 100%  !important ;
        padding-left: 60px  !important ;
        padding-right: 60px  !important ;
        margin: auto !important ;
    }
    .header-sticky .cta ul ul {
        display: block !important;
    }
}
@media (min-width: 1111.98px) {
    .container-resp {
        max-width: 992px  !important ;
        width: 100%  !important ;
        padding-left: 0px  !important ;
        padding-right: 0px  !important ;
        margin: auto !important ;
    }
    .header-sticky .logo-header {
        width: 185px !important ;
    }
    .header-sticky .menu ul li a {
        font-size: 18px !important ;
    }
    .header-sticky .cta ul li.btn-login a {
        font-size: 18px  !important ;
    }
    .header-sticky .cta ul li.btn-begin a {
        font-size: 18px !important ;
    }
}
@media (min-width: 1199.98px) {
    .container-resp {
        max-width: 1200px  !important ;
        width: 100%  !important ;
        padding-left: 60px  !important ;
        padding-right: 60px  !important ;
        margin: auto !important ;
    }
}
@media (min-width: 1359.98px) {
    .container-resp {
        max-width: 1200px  !important ;
        width: 100%  !important ;
        padding-left: 0  !important ;
        padding-right: 0  !important ;
        height: auto !important ;
        margin: auto !important ;
    }
    .header-sticky .content-header {
        width: 100% !important ;
    }
    .header-sticky .content-header {
        display: flex !important ;
        flex-direction: row !important ;
        justify-content: space-between !important ;
        flex-wrap: nowrap !important ;
        align-items: center !important ;
        max-width: 100% !important ;
    }
    .header-sticky .logo-header {
        width: 207px !important ;
    }
    .header-sticky .logo-header img {
        width: 100% !important ;
        height: auto !important ;
    }
    .header-sticky .menu ul {
        gap: 40px !important ;
        display: flex !important ;
    }
    .header-sticky .menu ul li {
        display: inline-block !important ;
    }
    .header-sticky .menu ul li a{
        color: rgba(51, 51, 51, 0.60)  !important ;
        text-align: center !important ;
        font-family: "Kanit" !important ;
        font-size: 20px !important ;
        font-style: normal !important ;
        font-weight: 400 !important ;
        line-height: 150% !important ; /* 30px */
    }
    .header-sticky .cta ul {
        display: flex !important ;
        padding: 10px 0px !important ;
        align-items: center !important ;
        gap: 30px !important ;
    }
    .header-sticky .cta ul ul {
        display: block !important;
    }
    .header-sticky .cta ul ul li {
        display: block;
    }
    .header-sticky .cta ul ul li a {
        color: rgba(51, 51, 51, 0.60)  !important;
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 150% !important;
        text-align: left;
        display: inline-block;
    }
    .header-sticky .cta ul li{
        display: inline-block
    }
    .header-sticky .cta ul ul li a, .list-dropdwn li a{
        color: rgba(51, 51, 51, 0.60)  !important;
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 150% !important;
        text-align: left;
    }
    .header-sticky .cta ul li.btn-login a{
        color: #333  !important ;
        text-align: center !important ;
        font-family: "Kanit"  !important ;
        font-size: 20px  !important ;
        font-style: normal !important ;
        font-weight: 500  !important ;
        line-height: 150% !important ; /* 30px */
    }
    .header-sticky .cta ul li.btn-begin a{
        color: #FFF !important ;
        font-family: "Kanit" !important ;
        font-size: 20px !important ;
        font-style: normal !important ;
        font-weight: 600 !important ;
        line-height: 150% !important ; /* 30px */
        border-radius: 10px !important ;
        background: var(--Dgrad-bleu, linear-gradient(138deg, rgba(98, 146, 158, 0.80) -15.04%, #62929E 104.44%)) !important ;
        border: none !important ;
        padding:10px 30px !important
    }
    .header-sticky .cta ul li.btn-login ul li a {
        color: rgba(51, 51, 51, 0.60)  !important;
        text-align: center !important;
        font-family: "Kanit" !important;
        font-size: 17px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 150% !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        display: inline-block;
    }
  
}
/* ============= end respo.css header ================  */