.banniere-resp .container-banniere-resp {
    width: 100% !important ;
    margin: auto !important ;
    overflow: hidden !important ;
}
.banniere-resp .container-banniere-resp .content-ban-left-resp {
    padding-top: 92px !important ;
    flex-grow: 1 !important ;
}
.banniere-resp .container-banniere-resp .content-ban-left-resp .p-resp {
    max-width: 653px !important ;
    color: rgba(51, 51, 51, 0.50) !important ;
    font-family: "Kanit" !important ;
    font-size: 18px !important ;
    font-style: normal !important ;
    font-weight: 400 !important ;
    line-height: 150% !important ; /* 27px */
    padding: 33px 0 !important ;
}
.content-banniere-resp .content-ban-right-resp {
    margin-left: auto !important ;
    flex-shrink: 0 !important ;
    border-radius: 60px 60px 0px 0px !important ;
    /*border: 1px solid rgba(199, 199, 199, 0.20) !important ;*/
    border: none !important;
    padding-top: 19px !important ;
    padding-left: 19px !important ;
    padding-right: 19px !important ;
    padding-bottom: 0 !important ;
    width: calc(31vw + 55px )  !important ;
    max-width: 468px !important ;
    height: 590px !important ;
    margin-top: 56px !important ;
} 
.content-banniere-resp .content-ban-right-resp .content-ban-right-resp-int {
    border-radius: 40px !important ;
    border: 1px solid rgba(199, 199, 199, 0.54) !important ;
    height: 100% !important ;
    text-align: center !important ;
    padding: 20px !important ;
}
.content-banniere-resp .content-ban-right-resp .content-ban-right-resp-int-2 {
    border-radius: 20px !important ;
    border: 1px solid rgba(199, 199, 199, 0.54) !important ;
    width: 100% !important ;
    height: 100% !important ;
    background-repeat:no-repeat !important ;
    background-position: center center !important ;
}
h2.title-resp {
    color: #333 !important ;
    font-family: "Vastine"  !important ;
    font-style: normal !important ;
    font-weight: 400 !important ;
    line-height: 150% !important ; /* 75px */
    text-align: left !important;
}
.hr-title-resp {
    width: 128px !important ;
    height: 5px !important ;
    background: var(--grey-color)  !important ;
    border-radius: 12px !important ;
    opacity: 1 !important ;
    margin-top: 20px  !important ;
}
.content-banniere-resp .conteneur-btn-resp {
    margin-top: 10px !important ;
}
.a-btn-resp {
    color: #333 !important ;
    font-size: 20px !important ;
    font-family: "Kanit" !important ;
    font-weight: 600 !important ;
    display: inline-flex !important ;
    padding: 10px 30px !important ;
    align-items: center !important ;
    gap: 10px !important ;
    border-radius: 10px !important ;
    border: 1px solid #333 !important ;
    background: transparent;
}
.a-btn-resp:hover {
    color: #FFF !important;
    font-family: "Kanit" !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 150% !important;
    border-radius: 10px !important;
    background: var(--Dgrad-bleu, linear-gradient(138deg, rgba(98, 146, 158, 0.80) -15.04%, #62929E 104.44%)) !important;
    border: none !important;
    padding: 10px 30px !important;
}

@media screen and (max-width: 499.96px){ 
    .content-banniere-resp{
        width: 100% !important ;
        display: flex !important ;
        flex-direction: column !important ;
        justify-content: center !important ;
        align-items: center !important ;
        text-align: center !important ;
    }
    .hr-title-resp {
        text-align: center !important ;
        margin: auto !important ;
        margin-top: 23px !important;
    }
    .content-banniere-resp .content-ban-right-resp {
        padding-left: 20px !important ;
        padding-right: 20px !important ;
        padding-bottom: 0 !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        margin-left: inherit !important ; 
        width: 100% !important ;
        max-width: none !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        margin-left: inherit !important ;
        /*border: 1px solid rgba(199, 199, 199, 0.20) !important ;*/
        border: none !important;
        width: 100%  !important ;
        max-width: 100% !important ;
        height: 348px !important ;
        margin-top: 56px !important ;
    }
    .banniere-resp .container-banniere-resp .content-ban-left-resp {
        padding-top: 47.65px !important ;
    }
    .banniere-resp .container-banniere-resp .content-ban-left-resp .p-resp {
        font-size: 16px !important ;
    }
    h2.title-resp {
        font-size: 21px !important ;
        text-align: center !important;
    }
    .a-btn-resp {
        font-size: 15px !important ;
        padding: 7px 20px !important ;
        align-items: center !important ;
        gap: 10px !important ;
        border-radius: 10px !important ;
    }
}
@media (min-width: 499.98px) {
    .content-banniere-resp{
        width: 100% !important ;
        display: flex !important ;
        flex-direction: column !important ;
        justify-content: center !important ;
        align-items: center !important ;
        text-align: center !important ;
    }
    .hr-title-resp {
        text-align: center !important ;
        margin: auto !important ;
        margin-top: 23px !important;
    }
    .content-banniere-resp .content-ban-right-resp {
        padding-left: 37px !important ;
        padding-right: 37px !important ;
        padding-bottom: 0 !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        margin-left: inherit !important ; 
        width: 100% !important ;
        max-width: none !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        margin-left: inherit !important ;
        /*border: 1px solid rgba(199, 199, 199, 0.20) !important ;*/
        border:none !important

        width: 100%  !important ;
        max-width: 100% !important ;
        height: 590px !important ;
        margin-top: 56px !important ;
    }
    h2.title-resp {
        font-size: 30px !important;
        text-align: center !important;
    }
}
@media (min-width: 538.98px) {
    .content-banniere-resp{
        width: 100% !important ;
        display: flex !important ;
        flex-direction: column !important ;
        justify-content: center !important ;
        align-items: center !important ;
        text-align: center !important ;
    }
    .hr-title-resp {
        text-align: center !important ;
        margin: auto !important ;
        margin-top: 24px !important;
    }
    .content-banniere-resp .content-ban-right-resp {
        padding-left: 37px !important ;
        padding-right: 37px !important ;
        padding-bottom: 0 !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        margin-left: inherit !important ; 
        width: 100% !important ;
        max-width: none !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        margin-left: inherit !important ;
        /*border: 1px solid rgba(199, 199, 199, 0.20) !important ;*/
        border:none !important;
        width: 100%  !important ;
        max-width: 100% !important ;
        height: 590px !important ;
        margin-top: 56px !important ;
    }
    h2.title-resp {
        font-size: 28px !important;
        text-align: center !important;
    }
}
@media (min-width: 767.98px) {
    .content-banniere-resp{
        width: 100% !important ;
        display: flex !important ;
        flex-direction: column !important ;
        justify-content: center !important ;
        align-items: center !important ;
        text-align: center !important ;
    }
    .hr-title-resp {
        text-align: center !important ;
        margin-top: 27px !important;
    }
    .content-banniere-resp .content-ban-right-resp {
        width: 430.919px  !important ;
        height: 543.252px !important ;
        flex-shrink: 0 !important ;
        margin: auto !important ;
    }
    h2.title-resp {
        color: #333 !important ;
        font-family: "Vastine"  !important ;
        font-size: 38px !important ;
        font-style: normal !important ;
        font-weight: 400 !important ;
        line-height: 150% !important ;
        text-align: center !important;
    }
    .banniere-resp .content-banniere-resp {
        padding-top: 0px !important ;
        gap: 6vw !important ;
    }
}
@media (min-width: 847.98px) {
    .hr-title-resp.hr-banniere-resp {
        margin-left: auto !important;
        margin: inherit !important;
    }
    h2.title-resp {
        font-size: 27px !important ;
        text-align: left !important;
    }
    .banniere-resp .container-banniere-resp .content-ban-left-resp .p-resp {
        font-size: 16px !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        width: calc(31vw + 20px )  !important ;
        height: 450px !important ;
        padding-left: 18px !important ;
        padding-right: 18px !important ;
        padding-bottom: 0 !important ;
    }
    .content-banniere-resp{
        flex-direction: row !important ;
        flex-direction: row !important ;
        justify-content:flex-start !important ;
        align-items: flex-start !important ;
        text-align: left !important ;
        padding-top: 57.5px !important ;
    }
    .hr-title-resp {
        text-align: left !important ;
        margin-right: auto  !important ;
        margin: inherit !important ;
    }
     .hr-title-resp {
        text-align: left !important ;
        margin: inherit !important ;
    }
}
@media (min-width: 991.98px) {
    h2.title-resp {
        font-size: 36px !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        width: 31vw !important ;
    }
    .banniere-resp .content-banniere-resp {
        gap: 3vw !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        height: 530px !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        padding-left: 18px !important ;
        padding-right: 18px !important ;
        padding-bottom: 0 !important ;
    }
}
@media (min-width: 1111.98px) {
    .banniere-resp .content-banniere-resp {
        padding-top: 57.5px !important ;
        display: flex !important ;
        justify-content: space-between !important ;
        gap: 6vw !important ;
    }
        .content-banniere-resp .content-ban-right-resp {
        width: calc(36vw + 55px )  !important ;
        max-width: 450px !important ;
    } 
    .content-banniere-resp .content-ban-right-resp {
        padding-left: 18px !important ;
        padding-right: 18px !important ;
        padding-bottom: 0 !important ;
    }
}
@media (min-width: 1199.98px) {
    .banniere-resp .content-banniere-resp {
        padding-top: 57.5px !important ;
        display: flex !important ;
        justify-content: space-between !important ;
        gap: 6vw !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        width: calc(31vw + 50px )  !important ;
    } 
    .content-banniere-resp .content-ban-right-resp {
        padding-left: 18px !important ;
        padding-right: 18px !important ;
        padding-bottom: 0 !important ;
    }
}
@media (min-width: 1359.98px) {
    h2.title-resp {
        font-size: 50px !important ;
        text-align: left !important;
    }
    .banniere-resp .container-banniere-resp .content-ban-left-resp .p-resp {
        font-size: 18px !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        height: 590px !important ;
    }
    .banniere-resp .content-banniere-resp {
        padding-top: 57.5px !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        width: calc(31vw + 55px )  !important ;
        max-width: 468px !important ;
    } 
    .banniere-resp .content-banniere-resp {
        display: flex !important ;
        justify-content: space-between !important ;
        gap: 6vw !important ;
    }
    .content-banniere-resp .content-ban-right-resp {
        padding-left: 18px !important ;
        padding-right: 18px !important ;
        padding-bottom: 0 !important ;
    }
}