 /*========= respo.css header =======*/
 *,
 *::after,
 *::before {
     box-sizing: border-box !important;
     margin: 0 !important;
     padding: 0 !important;
 }

 * {
     scroll-behavior: smooth !important;
 }

 :root {
     --grey-color: #333333 !important;
     --whitesmoke6-color: #f5f5f5 !important;
     --whitesmoke6-color: #F6F6F6 !important;
     --Charcoal1-color: #434343 !important;
     --charcoal2-color: #3F3F3F !important;
     --white-color: #fbfbfb !important;
     --bgwhite-color: #ffffff !important;
 }
 .block {
     display: block !important;
 }


 p {
     color: rgba(51, 51, 51, 0.50)  !important;
     font-size: 18px !important;
     font-family: "Kanit" !important;
     font-weight: 400 !important;
 }

 a {
     text-decoration: none !important;
 }

 .a-btn-resp {
     color: #333 !important;
     font-size: 20px !important;
     font-family: "Kanit" !important;
     font-weight: 600 !important;
     display: inline-flex !important;
     padding: 10px 30px !important;
     align-items: center !important;
     gap: 10px !important;
     border-radius: 10px !important;
     border: 1px solid #333 !important;
 }

 .text-left {
     text-align: left !important;
 }
 .text-right {
     text-align: right !important;
 }

 .text-center {
     text-align: center !important;
 }

 .auto {
     margin:auto !important;
 }

 .no-margin-top {
     margin-top: 0 !important;
 }
 hr {
     margin: 1rem 0 !important;
     color: inherit !important;
     border: 0 !important;
     border-top: var(--bs-border-width) solid !important;
     opacity: .25 !important;
 }
 .hr-title-resp {
     width: 128px !important;
     height: 5px !important;
     background: var(--grey-color)  !important;
     border-radius: 12px !important;
     opacity: 1 !important;
     margin-top: 20px  !important;
     margin: auto !important;
 }
 li {
     list-style-type: none !important;
 }
 .bg-center-resp {
     background-repeat:no-repeat  !important;
     background-position: center center  !important;
     background-size: cover  !important;

 }
 .grow { transition: all .2s ease-in-out !important; }
 .grow:hover { transform: scale(1.0025,1.0025) !important; }



 @media screen and (max-width: 499.96px){ 
     .container-resp {
         min-width: 320px  !important;
         padding-left: 20px !important;
         padding-right:20px !important;
         margin: auto !important;
     }
     .none-mob {
         display: none !important;
     }
 }
 @media (min-width: 499.98px) {
     .container-resp {
         max-width: 500px !important;
         width: 100%  !important;
         padding-left: 20px  !important;
         padding-right: 20px  !important;
         margin: auto !important;
     }
     .none-mob {
         display: none !important;
     }
 }
 @media (min-width: 539.98px) {
     .container-resp {
         max-width: 500px !important;
         width: 100%  !important;
         padding-left: 0px  !important;
         padding-right: 0px  !important;
         margin: auto !important;
     }
     .none-tab {
         display: none !important;
     }
 }
 @media (min-width: 767.98px) {
     .container-resp {
         max-width: 768px !important;
         width: 100%  !important;
         padding-left: 40px  !important;
         padding-right: 40px  !important;
         margin: auto !important;
     }
     .none-tab {
         display: none !important;
     }
     .none-desk {
         display: block !important;
     }
 }
 @media (min-width: 847.98px) {
     .container-resp {
         max-width: 769px !important;
         width: 100%  !important;
         padding-left: 40px  !important;
         padding-right: 40px  !important;
         margin: auto !important;
     }
     .none-tab {
         display: block !important;
     }
     .none-mob {
         display: block !important;
     }
     .none-desk {
         display: none !important;
     }
 }
 @media (min-width: 991.98px) {
     .container-resp {
         max-width: 992px !important;
         width: 100%  !important;
         padding-left: 60px  !important;
         padding-right: 60px  !important;
         margin: auto !important;
     }
     .none-desk {
         display: none !important;
     }
 }
 @media (min-width: 1111.98px) {
     .container-resp {
         max-width: 992px  !important;
         width: 100%  !important;
         padding-left: 0px  !important;
         padding-right: 0px  !important;
         margin: auto !important;
     }
     .none-desk {
         display: none !important;
     }
 }
 @media (min-width: 1199.98px) {
     .container-resp {
         max-width: 1200px  !important;
         width: 100%  !important;
         padding-left: 60px  !important;
         padding-right: 60px  !important;
         margin: auto !important;
     }
     .none-desk {
         display: none !important;
     }
 }
 @media (min-width: 1359.98px) {
     .container-resp {
         max-width: 1200px  !important;
         width: 100%  !important;
         padding-left: 0  !important;
         padding-right: 0  !important;
         height: auto !important;
         margin: auto !important;
     }
     .none-desk {
         display: none !important;
     }
 }
/* ============= end respo.css header ================  */

.hero--2-resp {
    height: 195px !important;
}
.hero-2-resp .content-hero-2-resp {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}
.hero-2-resp .container-hero2-left-resp {
    margin-right: auto !important;
}
.hero-2-resp .container-hero2-right-resp {
    margin-left: auto !important;
}
.hero-2-resp .content-hero2-left-resp {
    padding-top: 61px !important;
}
.hero-2-resp .container-hero2-left-resp .img-hero-2-left-resp {
    width: 519px !important;
    max-height: 519px !important;
    max-width: 100% !important;
    height: auto !important;
}
.hero-2-resp .content-hero2-right-resp {
    max-width: 566px !important;
}
.hero-2-resp h4.title-resp {
    color: rgba(51, 51, 51, 0.60) !important;
    font-family: "Kanit" !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    line-height: 150% !important; /* 30px */
    letter-spacing: 3.2px !important;
    text-transform: uppercase !important;
}
.hero-2-resp .hr-title-resp {
    margin: inherit !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.hero-2-resp h3.title-resp {
    color: #333 !important;
    font-family: "Vastine" !important;
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important; /* 60px */
    margin-top: 20px !important;
    text-align: left !important;
}
.hero-2-resp .container-hero2-right-resp ul.about-list-resp  {
    display: flex !important;
    gap: 40px !important;
    flex-direction: column !important;
    margin-top: 50px !important;
}
.hero-2-resp .container-hero2-right-resp ul.about-list-resp li  {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    gap: 34px !important;
} 
.hero-2-resp .about-item-left-resp .about-item-content-left-resp {
    width: 70px !important; 
    height: 70px !important; 
    border-radius: 50% !important; 
    background: #D9D9D961 !important; 
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important; 
}  
.hero-2-resp  .about-item-right-resp h5{
    color: rgba(51, 51, 51, 0.80) !important;
    font-family: "Kanit" !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 150% !important; /* 30px */
}
.hero-2-resp  .about-item-right-resp p{
    color: rgba(51, 51, 51, 0.40) !important;
    font-family: "Kanit" !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important; /* 27px */
    margin-top: 10px !important;
}
@media screen and (max-width: 499.96px){
    
    .hero--2-resp {
        height: 100px !important;
    }
    .hero-2-resp .content-hero-2-resp {
       flex-direction: column !important;
    }
    .hero-2-resp .container-hero2-left-resp {
        margin-right: inherit !important;
        margin: auto !important;
    }
    .hero-2-resp .container-hero2-right-resp {
        margin-left: inherit !important;
        margin: auto !important;
    }
    .hero-2-resp  h4.title-resp.none-desk {
        text-align: center !important;
    }
    .hero-2-resp h3.title-resp.none-desk {
      text-align: center !important;
      font-size: 23px !important;
    }
    .hero-2-resp .hr-title-resp.none-desk {
        margin: auto !important;
    }
}
@media (min-width: 499.98px) {
    .hero--2-resp {
        height: 117px !important;
    }
    .hero-2-resp .content-hero-2-resp {
       flex-direction: column !important;
    }
    .hero-2-resp .container-hero2-left-resp {
        margin-right: inherit !important;
        margin: auto !important;
    }
    .hero-2-resp .container-hero2-right-resp {
        margin-left: inherit !important;
        margin: auto !important;
    }
    .hero-2-resp  h4.title-resp.none-desk {
        text-align: center !important;
    }
    .hero-2-resp h3.title-resp.none-desk {
      text-align: center !important;
      font-size: 34px !important;
    }
    .hero-2-resp .hr-title-resp.none-desk {
        margin: auto !important;
    }
}
@media (min-width: 539.98px) {
    .hero-2-resp .content-hero-2-resp {
       flex-direction: column !important;
    }
    .hero-2-resp .container-hero2-left-resp {
        margin-right: inherit !important;
        margin: auto !important;
    }
    .hero-2-resp .container-hero2-right-resp {
        margin-left: inherit !important;
        margin: auto !important;
    }
    .hero-2-resp  h4.title-resp.none-desk {
        text-align: center !important;
    }
    .hero-2-resp h3.title-resp.none-desk {
      text-align: center !important;
      font-size: 36px !important;
    }
    .hero-2-resp .hr-title-resp.none-desk {
        margin: auto !important;
    }
}
@media (min-width: 767.98px) {
    .hero--2-resp {
        height: 118px !important;
    }
    .hero-2-resp .content-hero-2-resp {
       flex-direction: column !important;
    }
    .hero-2-resp .container-hero2-left-resp {
        margin-right: inherit !important;
        margin: auto !important;
    }
    .hero-2-resp .container-hero2-right-resp {
        margin-left: inherit !important;
        margin: auto !important;
    }
    .hero-2-resp  h4.title-resp.none-desk {
        text-align: center !important;
    }
    .hero-2-resp h3.title-resp.none-desk {
      text-align: center !important;
      font-size: 40px !important;
    }
    .hero-2-resp .hr-title-resp.none-desk {
        margin: auto !important;
    }
}
@media (min-width: 847.98px) {
    .hero--2-resp {
        height: 158px !important;
    }
    .hero-2-resp .container-hero2-right-resp {
        margin: inherit !important;
        margin-left: auto !important;
    }
    .hero-2-resp .container-hero2-left-resp {
        margin: inherit !important;
        margin-right: auto !important;
    }
    .hero-2-resp .content-hero-2-resp {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
    }
    .hero-2-resp h3.title-resp {
        font-size: 24px !important;
        text-align: left !important;
    }
    .hero-2-resp .content-hero-2-resp {
        gap: 55px !important;
    }
    .hero-2-resp .container-hero2-right-resp ul.about-list-resp {
        gap: 20px !important;
        margin-top: 20px !important;
    }
    .hero-2-resp  .about-item-right-resp p {
        font-size: 9px !important;
    }
}
@media (min-width: 991.98px) {
    .hero-2-resp h3.title-resp {
        font-size: 30px !important;
        text-align: left !important;
    }
    .hero-2-resp .content-hero-2-resp {
        gap: 65px !important;
    }
    .hero-2-resp .container-hero2-right-resp ul.about-list-resp {
        gap: 25px !important;
        margin-top: 25px !important;
    }
    .hero-2-resp  .about-item-right-resp p {
        font-size: 13px !important;
    }
}
@media (min-width: 1111.98px) {
    .hero-2-resp h3.title-resp {
        font-size: 36px !important;
        text-align: left !important;
    }
    .hero-2-resp .content-hero-2-resp {
        gap: 75px !important;
    }
    .hero-2-resp  .about-item-right-resp p {
        font-size: 15px !important;
    }
    .hero-2-resp .container-hero2-right-resp ul.about-list-resp {
        gap: 30px !important;
        margin-top: 30px !important;
    }
}
@media (min-width: 1199.98px) {
    .hero--2-resp {
        height: 195px !important;
    }
    .hero-2-resp .content-hero-2-resp {
        gap: 75px !important;
    }
    .hero-2-resp  .about-item-right-resp p {
        font-size: 17px !important;
    }
    .hero-2-resp .container-hero2-right-resp ul.about-list-resp {
        gap: 35px !important;
         margin-top: 35px !important;
    }
    .hero-2-resp h3.title-resp {
        font-size: 39px !important;
        text-align: left !important;
    }
}
@media (min-width: 1359.98px) {
    .hero-2-resp .content-hero-2-resp {
        gap: 150px !important;
    }
    .hero-2-resp h3.title-resp {
        font-family: "Vastine" !important;
        font-size: 40px !important;
        line-height: 150% !important;
        margin-top: 20px !important;
        text-align: left !important;
    }
    .hero-2-resp  .about-item-right-resp p {
        font-size: 18px !important;
    }
    .hero-2-resp .container-hero2-right-resp ul.about-list-resp {
        gap: 40px !important;
        margin-top: 35px !important;
    }
    .hero-2-resp h3.title-resp {
        font-size: 39px !important;
    }
}