body { 
    font-family:'Kanit' !important
}
h1, h2 {
    font-family: 'vastine';
}
.button--primary {
    background-color: #62929E!important;
}
.form-boolean--type-radio:checked {
    border-color: #62929E!important;
    box-shadow: inset 0 0 0 1px #62929E!important;
    background-image: url(data:image/svg+xml,%3csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='4.5' cx='8.5' cy='8.5' fill='#62929E'/%3e%3c/svg%3e)!important;
}
.task-list .is-active {
    color: #62929E!important;
    background: rgba(217, 217, 217, 0.26)!important;

}
.form-boolean--type-checkbox:checked {
    border-color:#62929E!important;
    background-color: #62929E!important;
    background-image: url(data:image/svg+xml,%3csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.795 7.096l2.387 2.506 6.023-6.327 1.484 1.56-7.507 7.89L2.31 8.656z' fill='#62929E'/%3e%3c/svg%3e)!important;
}
.progress__bar {
    border: 1px #62929E  solid!important;
    background-color: #62929E!important;
}