<!DOCTYPE html>
<html>
	<head>
		<title>Page Title</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="themes/custom/mobile/css/style.css"/>

     <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		 <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


	</head>

	{% set transfer = views_result('transfer','page_1',0) %}
	{% set clients = views_result('clients','page_1',0) %}
	{% set params = get_parameter() %}

		<body>

		{% include 'themes/custom/mobile/templates/pay.html.twig'  %}
		<!-- /page -->
		{% include 'themes/custom/mobile/templates/pay_ariary.html.twig'  %}

		{% include 'themes/custom/mobile/templates/list_pay.html.twig'  %}

    		{% include 'themes/custom/mobile/templates/add_client.html.twig'  %}
		<!-- /page -->
		<div data-role="page" id="list-clients"> client</div>
  	<script src="themes/custom/mobile/js/main.js"></script>           
	</body>
</html>
