*::after,
  *::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  * {
      scroll-behavior: smooth;
  }
  .btn--resp {
    padding: 20px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 38px;
    background: var(--bleu-color);
    color: #FFF;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  ul {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  ul li {
    list-style-type: none;
  }
.wrapper--resp {
  margin: auto;
} 
header .menu-main--resp ul {
  display: flex;
  flex-direction: row;
  gap: 39px;
}  
header .menu-main--resp ul li a{
  color: var(--bleumarine-color);
  font-family: "Montserrat";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} 
header .menu-main--resp ul li.active a {
  color: var(--bleu-color);
} 
header .menu-main--resp ul li.active::after {
  content: "";
  width: 29px;
  height: 3px;
  background: var(--bleu-color);
  margin-top: 10px !important;
  display: block ;
  margin: auto;
}
@media (max-width: 499.96px) {
  .wrapper--resp {
    width: 100%;
    max-width: none !important;
    padding-left: 20px;
    padding-right:20px
  }

}
@media (min-width: 499.98px) {
  .wrapper--resp {
    width: 100%;
    max-width: none;
    padding-left: 20px;
    padding-right:20px;
  }
}
@media (min-width: 767.98px) {
  .wrapper--resp {
    width: 100%;
    max-width: none !important;
    padding-left: 40px;
    padding-right:40px
  }
}
@media (min-width: 991.98px) {
  .wrapper--resp {
    width: 100%;
    max-width: none !important;
    padding-left: 60px;
    padding-right:60px;
  }
  .none-desk, .menu-mobile-effet {
    display: none !important;
  }

}
@media (min-width: 1199.98px) {
  .wrapper--resp {
    width: 100%;
    max-width: none !important;
    padding-left: 60px;
    padding-right:60px;
  }
}
@media (min-width: 1385.98px) {
    .wrapper--resp {
      max-width: 1200px !important;
      padding-left: 0px;
      padding-right:0px;
    }
}
@media (min-width: 1499.98px) {
  .wrapper--resp {
    max-width: 1500px;
    padding-left: 0px;
    padding-right:0px;
  }
}

.contact {
  position: relative;
  max-width: 1500px;
  position: relative;
  margin: auto;
  margin-bottom: 71px;
  position: relative;
}
.contact .container {
    margin:auto;
}
.contact .row.row-cnt {
  margin-top: 112px;
}
.contact .col-cont-right {
    min-height: 855px;
    padding-top: 74px;
    padding-left: 2vw;
}
.contact h1 {
  color: #333;
  font-family: "Playfair Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.contact h1::after {
  content: "";
  margin-left: 36px;
  width: 104px;
  display: inline-block;
  align-self: center;
  background-color: #333;
  height: 4px;
  position: relative;
  top: -12px;
}
.contact h2 {
  color: var(--bleumarine-color);
  font-family: "Montserrat";
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  align-self: center;
  display: flex;
}
.contact p.desc-cnt {
  max-width: 571px;
}
.contact p {
  color: rgba(51, 51, 51, 0.60);
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.contact p.info {
  color: var(--lineargradient-color); /* rgba(18, 70, 104, 0.70);*/
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%; /* 40px */
  margin-top: 43px;
  max-width: 309px;
}
.contact form {
  max-width: 312px;
  float: right;
}
.contact .form-contact textarea {
  border-radius: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.32);
  background: #FAFAFA;
  height: 100px;
  flex-shrink: 0;
  color: rgba(51, 51, 51, 0.40);
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact .form-contact .row {
  margin-top: 22px !important ;
}
.contact .form-contact .row > * {
  margin-top: 0 !important ;
}
.contact .form-control-and {
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.32);
  background: #FAFAFA;
  height: 50px;
  flex-shrink: 0;
  color: rgba(51, 51, 51, 0.40);
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
  float: right;
}
.contact .btn-cont  {
  height: 60px;
  flex-shrink: 0;
  background: var(--bleu-color);
  color: #FFF;
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 50px;
  margin-top: 25px;
  float: right;
  border: none !important;
}
.contact .cont-icon-rs {
  margin-top: 40px;
}
.contact .cont-icon-rs .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--bleumarine-color);
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  line-height: 40px;
}
.contact .cont-icon-rs .icon svg {
  margin-top: 8px;
}

@media (max-width: 768px) {
  .contact .col-cont-left-abs {
    display: none;
  }
  .contact .col-cont-left {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    background:  url( https://template.staydirect.cloud/sites/template/files/2023-11/bg-contact-tab.jpg ) center center;
  }
  .contact .col-cont-right {
    max-width: 688px;
    margin: auto;
    background: #fff;
    margin-top: -150px;
    border-radius: 20px 20px 0px 0px;
    padding: 57px 69px;
  }
  .contact form {
      max-width: 100%;
  }
  .contact .cont-icon-rs {
    display: none;
  }
  .contact .row.row-cnt {
      margin-top: 57px; 
  }
  .contact .form-contact h2 {
    margin-top: 52px;
  }
  .contact .info-tab {
    color: rgba(18, 70, 104, 0.70);
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 40px */
  }
}
@media (max-width: 575px) {
  .contact .col-cont-right {
    margin-top: 0;
  }
  .contact .col-cont-left {
      display: none;
  }
}